@import 'src/styles/helpers';

.tradingHistoryCells {
  position: relative;
  gap: 10px;
  @include flexbox(center, flex-start);
}

.tradingHistoryCells .eventDeclined {
  position: absolute;
  bottom: -15px;
  left: 20px;
}

.buyer{
  &Data{
    height: 100%;
    width: 80%;
  }
  &Avatar{
    flex: 0 0 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.tradingIcon{
  flex: 0 0 20px;
  height: 20px;
  & img{
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
