@import '../../styles/helpers';

.container {
  // TODO: Place your component styles here
}

.tag {
  padding: 1px 8px;
  @include flexbox;
  width: fit-content;

  & > img {
    margin-right: 3px;
  }
}

.rare {
  @extend .tag;
  background: $color-actions-dark-purple;

  .tagText {
    color: $color-actions-light-purple;
  }
}

.featured {
  @extend .tag;
  background: $color-actions-dark-pink;

  .tagText {
    color: $color-actions-light-pink;
  }
}

.tagText {
  text-transform: capitalize;
}
