@import "../../../../../styles/helpers";

.artistDetail {
  position: relative;
  height: 100%;
}

.addressAndName {
  :not(:last-child) {
    margin-right: 20px
  }
  @include flexbox(center, flex-start);
}

.imageWrapper {
  width: 90%;

  & > img {
    max-height: 375px;
    max-width: 396px;
    width: 100%;
  }
}

.gradientText {
  @include gradientText;
}

.detailsSection {
  line-height: 33px;
  padding: 32px;
}

.artistDescription {
  line-height: 26px;
}

.artistDetailsControls {
  @include flexbox(center, space-between);
  position: absolute;
  width: 80%;
  bottom: 88px;
}

.viewArtworkBtn {
  @include flexbox();
  color: $color-secondary;
}

// misc
.arrowPic {
  margin: 0 10px;
}

.iconLink {
  margin-right: 20px;
}