@import '../../styles/helpers';

.giantCard {
  display: flex;
  width: 100%;

  & > img, video {
    max-width: 65%;
    height: auto;
  }

  .cardInfo {
    padding: 32px;
    max-width: 35%;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: $color-neutral-80;

    & > * {
      &:not(:first-child) {
        margin-bottom: 30px;
      }
    }
  }
}

.detailedViewsAndControl {
  border-bottom: 1px solid $color-neutral-80;
  padding-bottom: 24px;
}

@include forDesktopBig() {
  .giantCard {
    flex-direction: column;

    & > img, video {
      max-width: unset;
    }
    .cardInfo {
      max-width: unset;
      border-width: 0 1px 1px 1px;
    }
  }
}
