@import '../../styles/helpers';

.giantCard {
  display: flex;
  width: 100%;
  border: 1px solid $color-neutral-80;

  & > img, video {
    width: 65%;
    height: auto;
  }

  .cardInfo {
    padding: 32px;
    width: 35%;

    & > * {
      &:not(:first-child) {
        margin-bottom: 30px;
      }
    }
  }
}

.detailedViewsAndControl {
  border-bottom: 1px solid $color-neutral-80;
  padding-bottom: 24px;
}

@include forDesktopBig() {
  .giantCard {
    flex-direction: column;

    & > img, video {
      width: 100%;
    }

    .cardInfo {
      width: 100%;
    }
  }
}
