@import 'src/styles/helpers';

.iconWrapper {
  margin: 10px 0;

  @include flexbox;

  svg {
    rect {
      fill: $color-secondary;
    }
  }
}

.header {
  @include flexbox(flex-start, space-between);
  opacity: 0.7;
}
.swap {
  .wrapper {
    text-align: left;

    .input {
      margin-top: 8px;
    }
  }
}

.btns {
  @include flexbox(flex-start, center);
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid $color-neutral-60;
}

.button {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.prefix {
  @include flexbox(center, flex-start);
  padding-left: 16px;
  width: 92px;
  height: 38px;
  border-right: 2px solid $color-neutral-40;
}
