@import "src/styles/helpers";

.tag {
  padding: 2px 17px;

  background: $color-neutral-10;

  &Wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 24px;
  }

  &Title {
    margin-right: 24px;
  }
}

.descriptionBody {
  margin-bottom: 10px;
}
