@import '../../../../../styles/helpers';

.tagWrapper {
  display: flex;
  flex-wrap: wrap;

  .tag {
    @include flexbox;
    margin-right: 10px;

    width: 90px;
    height: 25px;

    border: 1px solid $color-neutral-80;
  }
}

.descriptionBody {
  margin-bottom: 10px;
}
