@import 'src/styles/helpers';

.radio {
  @include flexbox(flex-start, space-between);
  @include forTablet {
    flex-wrap: wrap;
  }
}

/* Hide the browser's default checkbox */
.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.option {
  border-radius: $border-radius;

  padding: 16px;
  width: 100%;
  @include flexbox;
  flex-direction: column;
  border: 1px solid $color-neutral-80;
  //border: 1px solid $color-action-default;
  cursor: pointer;
  text-align: center;

  &Title {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
  }

  &Info {
    font-size: 14px;
    line-height: 160%;
    color: $color-neutral-40;
    @include forDesktopSm {
      font-size: 13px;
    }
  }

  & + & {
    margin-left: 16px;
    @include forTablet {
      margin-left: 0;
    }
  }
}
.optionTitle {
  color: $color-neutral-100;
}
.active {
  border: 1px solid $color-primary;

  .optionTitle {
    color: $color-primary;
  }
}
