@import 'src/styles/helpers';

.hotCollections {
  margin: 0 auto;
  padding: 88px;

  max-width: 1600px;

  & > * {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.title {
  width: 100%;
  @include flexbox;
}

.gradientTitle {
  @include monument-extended;
  @include gradientText;
  font-style: normal;
  font-weight: normal !important;
  font-size: 40px !important;
  line-height: 120% !important;
}

.collectionsWrapper {
  display: grid;
  grid-template-columns:repeat(auto-fit, 240px);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  grid-auto-flow: column;
}

.select {
  &Control {
    border: none !important;
    height: unset !important;
    padding: unset !important;
    justify-content: flex-start !important;
  }

  &ValueContainer {
    height: unset !important;
    font-size: unset !important;
  }
}

@include forTablet {
  .hotCollections {
    padding: 0;
  }
}
