@import "../../../styles/helpers";

.hotCollections {
  padding: 88px;
  max-width: 1600px;
  margin: 0 auto;
  & > * {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.title {
  width: 100%;
  @include flexbox;
}

.gradientTitle {
  @include gradientText;
}

.artCardsWrapper {
  @include flexbox();
  flex-wrap: wrap;
  margin: -20px;
  & > * {
    margin: 20px;
  }
}

.viewMoreBtnWrapper {
  @include flexbox;
}

.viewMoreBtn {
  width: 150px;
}

@include forTablet {
  .hotCollections {
    padding: 0;
  }
}