@import '../../styles/helpers';

.top {
  position: relative;
  z-index: 3;

  padding-right: 128px;

  display: flex;
  align-items: center;

  width: calc(100% - 352px);

  @include x {
    padding-right: 64px;
  }

  @include d {
    padding-right: 32px;

    width: calc(100% - 304px);
  }

  @include t {
    padding: 0;

    width: 100%;
  }
}

.control {
  background: $dark-bg;
  border-color: $neutrals3;
}

.title {
  margin-right: auto;
}

.button {
  @include m {
    margin-top: 16px;

    width: 100%;
  }
}

.toggle {
  position: relative;

  margin-left: 24px;

  svg {
    &:nth-child(2) {
      position: absolute;
      top: 50%;
      left: 50%;

      opacity: 0;

      transform: translate(-50%, -50%);
    }
  }

  &.active {
    background: $blue;
    box-shadow: inset 0 0 0 2px $blue;

    @include dark {
      background: $blue;
    }

    svg {
      fill: $neutrals8;

      &:first-child {
        opacity: 0;
      }

      &:nth-child(2) {
        opacity: 1;
      }
    }
  }
}

.row {
  margin-top: -56px;

  display: flex;
  align-items: flex-start;

  @include t {
    margin-top: 0;

    flex-direction: column-reverse;
  }
}

.wrapper {
  padding-top: 120px;
  padding-right: 128px;
  flex-grow: 1;

  @include x {
    padding-right: 64px;
  }

  @include d {
    padding-right: 32px;
  }

  @include t {
    padding: 0;

    width: 100%;
  }
}

.filters {
  padding: 32px;

  width: 352px;

  background: $color-bg;
  flex-shrink: 0;
  border: 1px solid $color-neutral-80;

  @include d {
    padding: 32px;

    width: 304px;
  }

  @include t {
    display: none;

    width: 100%;
  }

  &.active {
    @include t {
      margin-top: 32px;

      display: block;
    }

    @include m {
      margin-top: 16px;
    }
  }
}

.nav {
  margin: 0 -6px 32px;

  display: flex;
  flex-wrap: wrap;

  @include t {
    margin-top: 40px;
  }

  @include m {
    margin-top: 32px;
  }
}

.link {
  margin: 0 6px;
  padding: 6px 12px;

  color: $neutrals4;
  background: none;
  border-radius: 14px;

  transition: all 0.2s;

  @include button-2;

  &:hover {
    color: $purple2;

    // @include dark {
    // color: $neutrals6;
    // }
  }

  &.active {
    color: $neutrals8;
    background: $gradient;
  }
}

.hidden {
  display: none;
}

.item {
  position: relative;

  padding: 16px 64px 16px 16px;

  display: flex;
  align-items: center;

  cursor: pointer;

  background: $gradient3;
  border-radius: 20px;

  transition: background 0.2s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include m {
    padding-right: 32px;
  }

  .circle,
  &::after {
    content: '';

    position: absolute;
    top: 50%;
    right: 24px;

    width: 12px;
    height: 12px;

    transition: all 0.2s;
    transform: translateY(-50%);

    @include m {
      right: 12px;
    }
  }

  // &:before {
  //   border-radius: 50%;
  //   background: $gradient;
  // }
  &::after {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='10' fill='none' viewBox='0 0 6 10'%3E%3Cpath fill-rule='evenodd' d='M.793.793a1 1 0 0 0 0 1.414L3.586 5 .793 7.793a1 1 0 0 0 1.414 1.414l3.5-3.5a1 1 0 0 0 0-1.414l-3.5-3.5a1 1 0 0 0-1.414 0z' fill='%23777e91'/%3E%3C/svg%3E")
      no-repeat 50% 50% / 6px auto;
    opacity: 0;
  }

  &:hover {
    background: $neutrals7;

    // @include dark {
    background: $neutrals2;
    // }
    .circle {
      transform: translateY(-50%) scale(0);
    }

    &::after {
      opacity: 1;
    }
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.preview {
  position: relative;

  margin-right: 24px;

  width: 96px;
  height: 96px;
  flex-shrink: 0;

  @include m {
    margin-right: 16px;

    width: 64px;
    height: 64px;
  }

  & > img {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    object-fit: cover;
  }
}

.icon {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  @include m {
    width: 24px;
    height: 24px;
  }

  // @include dark {
  //   border: 1px solid $neutrals3;
  // }
  img {
    width: 32px;
    height: 32px;

    @include m {
      max-width: 12px;
    }
  }
}

.details {
  flex-grow: 1;
}

.subtitle {
  @include body-bold-1;
  @include m {
    margin-bottom: 3px;

    font-size: 16px;
  }
}

.description {
  @include body-2;
  color: $neutrals3;

  @include m {
    font-size: 12px;
  }

  // @include dark {
  color: $neutrals6;
  // }
}

.date {
  @include caption-bold-2;
  color: $neutrals4;
}

.loader {
  margin: 32px auto 0;
}
