@import '../../../../styles/helpers';

.cards {
  margin: 24px -4px 0;

  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

}

.card {
  margin: 0 4px;
  padding: 8px 16px 30px;

  width: 160px;

  cursor: pointer;

  border: 2px solid $color-neutral-80;
  flex-shrink: 0;

}

.plus {
  margin-bottom: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
}
.subtitle{
  color: $neutrals8;
  @include epilogue;
  font-size: 14px;
  line-height: 160%;
}

.active {
  border-color:$color-secondary;
  .subtitle{
    color: $color-secondary;
  }
}
