@import 'src/styles/helpers';

.card {
  width: 160px;
  height: 104px;
  padding: 8px 16px;

  cursor: pointer;

  border: 2px solid $color-neutral-60;

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}
.cardImg {
  width: 110px;
  overflow: hidden;
}

.plus {
  align-self: flex-start;

  width: 32px;
  height: 32px;
}

.active {
  border-color: $color-primary;

  .cardSubtitle {
    span {
      color: $color-primary;
    }
  }
}

.cardSubtitle {
  width: 100%;
  font-family: 'Epilogue', sans-serif;
  padding-top: 12px;
  span {
    @include multiplyRowsEllipsis(3);
  }
}

.subtitle {
  padding-top: 8px;
}
