@import '../../../styles/helpers';

.list {
  margin: (-32px) -16px 0;

  display: flex;
  flex-wrap: wrap;

  @include x {
    margin: (-32px) -10px 0;
  }

  @include d {
    margin: (-32px) -16px 0;
  }

  @include m {
    margin: 0;

    display: block;
  }
}

.card {
  margin: 32px 16px 0;

  width: calc(33.333% - 32px);
  flex: 0 0 calc(33.333% - 32px);

  @include x {
    margin: 32px 10px 0;

    width: calc(33.333% - 20px);
    flex: 0 0 calc(33.333% - 20px);
  }

  @include d {
    margin: 32px 16px 0;

    width: calc(50% - 32px);
    flex: 0 0 calc(50% - 32px);
  }

  @include m {
    margin: 0;

    width: 100%;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.loader {
  margin: 32px auto 10px;
}
