@import '../../styles/helpers.scss';

.button {
  // @include flexbox(center, center);
  font-weight: 400;
  @include flexbox();
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &.isFullWidth {
    width: 100%;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.blue {
    height: 40px;

    color: $color-neutral-100;
    background: $color-action-default;

    & > svg {
      fill: $color-neutral-100;
    }

    &:hover {
      background: $color-action-hovered;
    }

    &:active {
      background: $color-action-pressed;
    }

    &.disabled {
      color: $color-neutral-20;
      background: $color-action-disabled;

      & > svg {
        fill: $color-neutral-20;
      }
    }
  }

  &.outline {
    height: 40px;

    color: $color-neutral-0;
    background: none;
    border: 1px solid $color-action-default;

    & > svg {
      fill: $color-neutral-0;
    }

    &:hover {
      background: $color-neutral-80;
      border-color: $color-action-hovered;
    }

    &:active {
      background: $color-neutral-60;
      border-color: $color-action-pressed;
    }

    &.disabled {
      color: $color-neutral-40;
      background: $color-neutral-80;
      border-color: $color-neutral-60;

      & > svg {
        fill: $color-neutral-20;
      }
    }
  }
}

.transparent {
}

.icon {
  margin-right: 10px;

  height: unset;
}
