@import "src/styles/helpers";

.randomCard {
  max-width: 500px;
  width: 100%;
}

.artWrapper {
  max-width: 500px;
  max-height: 500px;
  aspect-ratio: 1/1;
  width: 100%;

}

.art {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  color: $color-neutral-40;
}

.name {
  margin-top: 16px;
  max-width: 260px;
}
