@import "src/styles/helpers";

.randomCard {
  max-width: 490px;
}

.art {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info {
  color: $color-neutral-40;
}

.name {
  margin-top: 16px;
  max-width: 260px;
}
