@import 'src/styles/helpers';

.subtitle {
  margin-bottom: 12px;
}

.box {
  border-bottom: 1px solid $color-neutral-60;
  padding-bottom: 24px;
  margin-bottom: 24px;
}
.input + .subtitle {
  margin-top: 20px;
}
