@import 'src/styles/helpers';

.label {
  margin-bottom: 8px;

  font-size: 16px;
  font-weight: 500;
  line-height: 160%;

  color: $color-neutral-100;
  opacity: 0.7;
  @include epilogue;
}

.wrap {
  flex-direction: column;
  @include flexbox(flex-start);
}

.textarea {
  resize: none;
  border-radius: $border-radius;

  padding: 10px 14px;

  width: 100%;
  height: 152px;

  color: $color-neutral-100;
  background: none;
  border: 2px solid $color-neutral-20;

  transition: border-color 0.2s;

  @include poppins;
  @include caption-bold-1;
  // }

  &:hover {
    border-color: $color-actions-light-blue;
    box-shadow: 0 1px 6px rgba(119, 126, 144, 0.48);
  }
  @include placeholder {
    color: $color-neutral-40;
  }

  &:focus {
    border-color: $color-neutral-60;
  }

  &:disabled {
    cursor: not-allowed;

    color: $color-neutral-80;
    border-color: $color-neutral-80;
    @include placeholder {
      color: $color-neutral-80;
    }
  }
}

.edit {
  padding-left: 18px;

  width: 100%;
  height: 48px;

  border: 2px solid $color-neutral-80;

  border-top: none;
  border-radius: 0 0 4px 4px;
  @include flexbox(center, flex-start);

  button + button {
    margin-left: 14px;
  }
}

.counter {
  margin-top: 8px;
  @include epilogue;
  font-size: 14px;
  line-height: 160%;

  color: $color-neutral-40;
}
