@import '../../../../../styles/helpers';

.authorBlock {
  @include flexbox(flex-start, space-between);
}

.user {
  @include flexbox(center, flex-start);
}

.avatar {
  margin-right: 10px;
}

.owners {
  @include flexbox(flex-start, flex-start);
  flex-direction: column;

  .user {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

@include forDesktopBig() {
  .authorBlock {
    flex-direction: column;
  }
}
