@import '../../styles/helpers';

.upload {

}

.section {
  text-align: center;
  margin-top: 44px;
  margin-bottom: 91px;

}

.control {
  border-bottom: 1px solid $purple2 !important;
}

.top {
  margin: 0 auto 45px;
  @include d {
    margin-bottom: 64px;
  }

  @include m {
    margin-bottom: 32px;
  }
}

.title {
  margin-bottom: 16px;
  @include monument-extended;
  font-size: 40px;
  line-height: 120%;
  color: $color-neutral-0;
}

.info {
  color: $color-neutral-20;

}

.list {
  padding: 91px 0 32px;
  border-top: 1px solid $color-neutral-80;

  @include flexbox(center);
  gap: 32px;

}

.item {
  padding: 61px 222px;
  background: $color-neutral-80;
  border-radius: 2px;
  cursor: pointer;
}

.preview {
  margin-bottom: 24px;

  img {
    width: 100%;

    border-radius: 8px;
  }
}
.button{
  width: 173px;
}
.note {
  @include epilogue;

  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: $color-neutral-20;
}
