@import 'src/styles/helpers';


.section {
  text-align: center;
  margin-top: 44px;
  margin-bottom: 91px;

}


.top {
  margin: 0 auto 45px;
  padding: 0 32px;
}

.title {
  line-height: 120%;
  margin-bottom: 16px;
}

.info {
  line-height: 160%;
}

.list {
  padding: 91px 32px 32px;
  border-top: 1px solid $color-neutral-80;

  @include flexbox(center);
  gap: 32px;
  @include forTablet {
    flex-direction: column;
  }
}

.item {
  width: 100%;
  max-width: 616px;
  padding:61px 0;
  @include flexbox();
  flex-direction: column;
  background: $color-neutral-80;
  border-radius: 2px;
  cursor: pointer;
  @include forTablet {
    flex-direction: column;
  }
}

.preview {
  margin-bottom: 24px;

  img {
    width: 100%;
    max-width: 108px;

    border-radius: 8px;
  }
}

.button {
  width: 173px;
}

.note {
  padding: 0 32px;
  @include epilogue;

  line-height: 160%;
  @include forTablet {
    flex-direction: column;
  }
}
