@import 'src/styles/helpers';

.switch {
  @include flexbox;
  position: relative;

  font-size: 0;

  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.input {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;

  &:checked + .inner .box {
    background: $color-orange;

    &::before {
      background: $color-neutral-0;

      transform: translate(24px, -50%);
    }
  }
}

.inner {
  position: relative;

  display: inline-block;

  transition: all 0.2s;
}

.box {
  position: relative;

  display: block;

  width: 48px;
  height: 24px;

  border: 1px solid $color-neutral-60;
  border-radius: 32px;

  transition: all 0.2s;
  // }
  &::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 4px;

    width: 16px;
    height: 16px;

    background: $color-orange;
    border-radius: 50%;

    transition: all 0.2s;
    transform: translateY(-50%);
  }
}
