@import '../../styles/helpers';

.head {
  position: relative;

  padding: 32px 0;

  display: flex;
  overflow: hidden;
  align-items: flex-end;

  height: 326px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include t {
    padding-bottom: 64px;

    height: 260px;
  }

  @include m {
    padding-bottom: 56px;

    height: 230px;
  }

  .container {
    display: flex;
    justify-content: flex-end;
  }

  &.active {
    .btns {
      opacity: 0;
    }

    .file {
      visibility: visible;

      opacity: 1;
    }
  }
}

.btns {
  transition: opacity 0.2s;

  .button {
    color: $neutrals8;
    box-shadow: 0 0 0 2px $neutrals4 inset;

    @include m {
      padding: 0 10px;
      flex-grow: 1;
    }

    svg {
      fill: $neutrals8;
    }

    &:hover {
      box-shadow: 0 0 0 2px $blue inset;
    }

    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

.file {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  text-align: center;

  color: $neutrals8;
  opacity: 0;

  transition: all 0.2s;

  @include m {
    padding-top: 40px;

    align-items: flex-start;
  }

  &::before,
  &::after {
    content: '';

    position: absolute;
  }

  &::before {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba($neutrals1, 0.6);
  }

  &::after {
    top: 8px;
    right: 8px;
    left: 8px;
    bottom: 8px;

    border: 2px dashed $neutrals6;
    border-radius: 12px;
  }

  input {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    font-size: 1400px;

    opacity: 0;
  }

  svg {
    margin-bottom: 24px;
    fill: $neutrals8;

    @include m {
      margin-bottom: 12px;

      width: 24px;
      height: 24px;
    }
  }

  .button {
    position: absolute;
    z-index: 4;
    right: 16px;
    bottom: 16px;

    @include t {
      bottom: 48px;
    }

    @include m {
      right: 50%;

      transform: translateX(50%);
    }
  }
}

.wrap {
  position: relative;
  z-index: 2;
}

.info {
  font-size: 24px;
  font-weight: 600;
  line-height: (32 / 24);

  @include m {
    font-size: 16px;
  }
}

.text {
  @include body-2;
  @include m {
    font-size: 12px;
  }
}

.body {
  position: relative;
  z-index: 3;

  padding: 80px 0;

  background: $dark-bg;

  @include t {
    padding-top: 0;
  }

  @include m {
    padding: 0 0 64px;
  }

  .container {
    display: flex;
    align-items: flex-start;

    @include t {
      display: block;
    }
  }
}

.user {
  margin-top: -193px;

  width: 256px;
  flex-shrink: 0;

  @include t {
    margin: (-32px) 0 48px;

    width: 100%;
  }
}

.wrapper {
  padding-left: 64px;

  width: calc(100% - 256px);
  flex: 0 0 calc(100% - 256px);

  @include x {
    padding-left: 32px;
  }

  @include t {
    padding-left: 0;

    width: 100%;
  }
}

.nav {
  margin: 0 -6px 32px;

  display: flex;

  @include m {
    margin: 0 -32px 32px;

    overflow: auto;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    &::before,
    &::after {
      content: '';

      width: 32px;
      height: 1px;
      flex-shrink: 0;
    }
  }
}

.link {
  margin: 0 6px;
  padding: 6px 12px;

  color: $purple2;
  background: none;
  border-radius: 14px;

  transition: all 0.2s;
  flex-shrink: 0;

  @include button-2;

  @include m {
    margin: 0;
  }

  &:hover {
    color: $neutrals4;

    // @include dark {
    // color: $purple2;
    // }
  }

  &.active {
    color: $neutrals8;
    color: $white;
    background: $neutrals3;

    // @include dark {
    background: $gradient;
    // }
  }

  &:not(:last-child) {
    @include m {
      margin-right: 12px;
    }
  }
}

.following,
.followers {
  padding-top: 16px;

  @include m {
    padding-top: 0;
  }
}
