@import 'src/styles/helpers.scss';

.page {
  &_body {
    @include container;
    display: grid;
    grid-template-columns: 1fr 5fr;

    &__left {
      padding: 32px 88px 32px 0;
      border-right: 1px solid $color-neutral-10;
      @include forDesktopMiddle {
        padding: 0;
        border: none;
        margin: 0 -32px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $color-neutral-10;
        margin-bottom: 32px;
        button {
          min-height: 72px;
        }
      }
    }

    &__right {
      padding: 44px 32px;
      padding-right: 0;
      @include forDesktopMiddle {
        width: 100%;
        padding: 0;
      }
    }

    &__about {
      @include flexbox(flex-start, flex-start);
      padding: 0;
      @include forDesktopSm {
        flex-direction: column;
      }
    }

    @include forDesktopMiddle {
      display: block;
    }
  }
}

.tabs {
  flex-direction: column;
  align-items: flex-start !important;
  

  a {
    margin-bottom: 25px;
    padding: 8px 0 !important;

    &::before {
      bottom: -8px !important;
      @include forDesktopMiddle {
        bottom: -0px !important;
      }
    }
    @include forDesktopMiddle {
      margin-bottom: 0;
      padding: 24px 0;
    }
  }

  @include forDesktopMiddle {
    flex-direction: row;
    gap: 12px;
    align-items: center;
    padding: 0 10px;
  }
}

.subtitle {
  color: $color-neutral-40;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  @include forDesktopMiddle {
    display: none;
  }
}
