@import 'src/styles/helpers';

.collectionCard {
  @include flexbox(center, flex-start);
  padding: 10px 0 10px;
  border-bottom: 1px solid $color-neutral-10;
  max-width: 340px;
  width: 100%;
  max-height: 170px;
}

.avatar {
  margin: 0 16px 0 29px;
}
.info{
  overflow: hidden;
}
.price{
  @include flexbox(center,flex-start);
  gap: 3px;
  color: $color-actions-light-purple;
}

.profitIncrease{
  &Wrapper{
    margin-left: auto;
  }
  &Value{
    color: $color-primary;
  }
}
