@import "../../../../../styles/helpers";

.discoverMore {
  height: 180px;
  @include flexbox();
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: $color-neutral-80;
}

.infoContainer {
  @include flexbox();
}

.infoWrapper {
  padding: 45px;
}

.discoverMore .discoverBtn {
  @include flexbox;
  height: 100%;
  width: 300px;
}

@include forDesktopBig {
  .discoverMore {
    height: 150px;
  }
  
  .infoWrapper {
    padding: 10px;
  }
  
  .discoverBtn {
    width: 200px;
  }

  .title {
    font-size: 30px;
  }

  .discoverMore .text {
    font-size: 16px;
  }
}

@include forDesktopSm {
  .discoverMore {
    padding: 20px;
    height: unset;
    flex-direction: column-reverse;
  }

  .infoContainer {
    flex-wrap: wrap;
  }

  .infoWrapper {
    flex-basis: 50%;
  }

  .discoverBtn {
    width: 100%;
  }
}