// media queries
@mixin w {
  @media only screen and (max-width: 1419px) {
    @content;
  }
}

@mixin x {
  @media only screen and (max-width: 1339px) {
    @content;
  }
}

@mixin d {
  @media only screen and (max-width: 1179px) {
    @content;
  }
}

@mixin t {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@mixin m {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin a {
  @media only screen and (max-width: 639px) {
    @content;
  }
}

@mixin s {
  @media only screen and (max-width: 474px) {
    @content;
  }
}

// fonts
@mixin dm-sans {
  font-family: "DM Sans", sans-serif;
}

@mixin poppins {
  font-family: "Poppins", sans-serif;
}

// colors
$white: #ffffff;
$blue: #3772FF;
$blue-light: #4BC9F0;
$purple: #9757D7;
$purple2: #674DF6;
$purple-light: #CDB4DB;
$purple-dark: #261849;
$pink: #EF466F;
$green: #45B26B;
$asphalt: #E4D7CF;
$yellow: #FFD166;
$grey: #D9DBE1;
$dark-grey: #21283C;

$neutrals1: #141416;
$neutrals2: #23262F;
$neutrals3: #353945;
$neutrals4: #777E91;
$neutrals5: #B1B5C3;
$neutrals6: #E6E8EC;
$neutrals7: #F4F5F6;
$neutrals8: #FCFCFD;

$dark-bg: linear-gradient(90deg, #190F31 0%, #000000 100%);
$gradient-hover: linear-gradient(90deg, #5423FD 0%, #FF3B3E 100%);
$gradient: linear-gradient(90deg, #6F45FF 0%, #FF6365 100%);
$gradient2: linear-gradient(90deg, #040404 0%, #1C0E40 100%);
$gradient3: linear-gradient(90deg, #190F31 0%, #000000 100%);
$gradient4: linear-gradient(90deg, #190F31 0%, #190F31 100%);
$gradient-vertical: radial-gradient(883.01% 239.84% at 71.43% 0.88%, rgba(111, 69, 255, 0) 0%, #FF6365 100%);

$color-primary:#018DF0;
$color-secondary:#01C5BA;
$color-bg: #080134;
$color-bg2: #0B062D;

$color-action-default: #01C5BA;
$color-action-hovered: #1CAAA2;
$color-action-pressed: #398D88;
$color-action-disabled: #003F3B;

$color-neutral-100: #080134;
$color-neutral-80: #393556;
$color-neutral-60: #6B6785;
$color-neutral-40: #9C99AE;
$color-neutral-20: #CECCD6;
$color-neutral-10: #E6E6EB;
$color-neutral-0: #FFFFFF;

$color-actions-light-green: #27D1AA;
$color-actions-light-pink: #FF72D2;
$color-actions-light-purple: #C379F6;
$color-actions-light-yellow: #FFD166;
$color-actions-light-blue: #6B6785;
$color-actions-dark-green: #064462;
$color-actions-dark-pink: #561857;
$color-actions-dark-purple: #2D1446;
$color-actions-dark-yellow: #433340;
$color-actions-dark-blue: #211857;
$color-actions-dark-red: #571848;

$color-state-error: #EF466F;
$color-state-success: #45E498;
$color-state-warning: #FAE637;

$color-gradient: linear-gradient(89.92deg, #016DB0 1.29%, #01FFCA 99.94%);

// typography

.text-gradient {
  display: inline-block;

  font-family: 'MD', sans-serif;

  background: $gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  &::selection {
    -webkit-text-fill-color: $white;
  }

  ::selection {
    -webkit-text-fill-color: $white;
  }
}

@mixin body-1 {
  font-size: 24px;
  line-height: (32 / 24);
  letter-spacing: -0.01em;
}

@mixin body-bold-1 {
  font-size: 24px;
  line-height: (32 / 24);
  font-weight: 600;
  letter-spacing: -0.01em;
}

@mixin body-2 {
  font-size: 16px;
  line-height: (24 / 16);
}

@mixin body-bold-2 {
  font-size: 16px;
  line-height: (24 / 16);
  font-weight: 500;
}

@mixin caption-1 {
  font-size: 14px;
  line-height: (24 / 14);
}

@mixin caption-bold-1 {
  font-size: 14px;
  line-height: (24 / 14);
  font-weight: 500;
}

@mixin caption-2 {
  font-size: 12px;
  line-height: (20 / 12);
}

@mixin caption-bold-2 {
  font-size: 12px;
  line-height: (20 / 12);
  font-weight: 600;
}

@mixin hairline-1 {
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin hairline-2 {
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin button-1 {
  @include dm-sans;

  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

@mixin button-2 {
  @include dm-sans;

  font-size: 14px;
  line-height: (16 / 14);
  font-weight: 700;
}

//triangle
@mixin arr($width, $height, $bg, $direction) {
  width: 0px;
  height: 0px;
  border-style: solid;

  @if $direction == t {
    border-width: 0 ($width / 2 + px) ($height + px) ($width / 2 + px);
    border-color: transparent transparent $bg transparent;
  }

  @if $direction == r {
    border-width: ($height / 2 + px) 0 ($height / 2 + px) ($width + px);
    border-color: transparent transparent transparent $bg;
  }

  @if $direction == b {
    border-width: ($height + px) ($width / 2 + px) 0 ($width / 2 + px);
    border-color: $bg transparent transparent transparent;
  }

  @if $direction == l {
    border-width: ($height / 2 + px) ($width + px) ($height / 2 + px) 0;
    border-color: transparent $bg transparent transparent;
  }

  @if $direction == tl {
    border-width: ($height + px) ($width + px) 0 0;
    border-color: $bg transparent transparent transparent;
  }

  @if $direction == tr {
    border-width: 0 ($width + px) ($height + px) 0;
    border-color: transparent $bg transparent transparent;
  }

  @if $direction == br {
    border-width: 0 0 ($height + px) ($width + px);
    border-color: transparent transparent $bg transparent;
  }

  @if $direction == bl {
    border-width: ($width + px) 0 0 ($height + px);
    border-color: transparent transparent transparent $bg;
  }
}

// example
// +arr(500,50, #000, l)
// +arr(500,50, #000, bl)
// placeholder
@mixin placeholder {
  &::placeholder {
    @content;
  }
}

// media query width
@mixin r($width) {
  @media only screen and (max-width: $width + "px") {
    @content;
  }
}

@mixin rmin($width) {
  @media only screen and (min-width: $width + "px") {
    @content;
  }
}

// theme
@mixin dark {
  @at-root :global(.dark-mode) & {
    @content;
  }
}

@mixin dark-body {
  @at-root .dark-mode {
    @content;
  }
}

@mixin dark-common {
  @at-root .dark-mode & {
    @content;
  }
}
