@import 'styles/helpers.scss';

.user {
  position: relative;
  background-color: $color-primary;
  background-size: cover;
  padding: 52px 0;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50%;
  animation: up-to-down 80s linear infinite;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    pointer-events: none;
  }
}

@keyframes up-to-down {
  0% {
    background-position-y: 50%;
  }
  25% {
    background-position-y: 100%;
  }
  50% {
    background-position-y: 50%;
  }
  75% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: 50%;
  }
}

.inner {
  @include flexbox;
  flex-direction: column;

  position: relative;
  z-index: 3;
}

.user_avatar {
  position: relative;
  img {
    object-fit: cover;
    max-width: 130px;
    max-height: 130px;
    border-radius: 50%;
  }
}

.user_name {
  margin-top: 16px;
  @include sora;
  line-height: 120%;
  @include forTablet {
    font-size: 24px;
  }
}
.user {
  .user_info {
    margin-top: 9px;
    @include flexbox;
    text-overflow: ellipsis;

    .user_info__icon {
      background: rgba($color-neutral-0, 0.16);
      margin-right: 8px;
      border-radius: 50%;
      @include flexbox;
      cursor: pointer;
    }

    &__value {
      font-size: 16px;
    }
  }
}
.user_buttons {
  @include flexbox;
  margin-top: 17px;
  gap: 8px;
}

.user_button {
  font-weight: 600;
  font-size: 16px;
  @include flexbox;
  gap: 8px;
  @include forTablet {
    padding: 6px 12px !important;
  }
}

.isVerified {
  position: absolute;
  right: 24px;
  bottom: 0;

  width: 24px;
  height: 24px;

  background: $color-primary;
  border: 1.5px solid $color-neutral-80;
  border-radius: 50%;

  &::before {
    content: ' ';

    position: absolute;
    left: 7px;
    bottom: 6px;

    width: 6px;
    height: 12px;

    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: $color-neutral-0;

    transform: rotate(45deg);
  }
}
