@import 'src/styles/helpers';

.info {
  margin-bottom: 24px;

  color: $color-neutral-100;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkbox {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.buttons {
  @include flexbox(center, flex-start);
  margin-bottom: 26px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  color: $color-neutral-100;
  &:first-child {
    padding-right: 8px !important;
    border-right: 1px solid $color-neutral-100;
    border-radius: 0px;
  }
  &:last-child {
    padding-left: 8px;
  }
}
