@import '../../../styles/helpers';

.info {
  margin-bottom: 32px;

  color: $purple2;
  @include body-bold-1;
}

.group {
  margin-bottom: 32px;
  padding-bottom: 32px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  // @include dark {
  border-color: $neutrals3;
  border-bottom: 1px solid $neutrals6;
  // }
}

.checkbox {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.btns {
  margin: 0 -6px;

  display: flex;

  .button {
    margin: 0 6px;
    padding: 0 8px;

    width: calc(50% - 12px);
    height: 32px;
    flex: 0 0 calc(50% - 12px);

    @include dark {
      box-shadow: inset 0 0 0 2px $neutrals4;

      &:hover {
        box-shadow: inset 0 0 0 2px $blue;
      }
    }
  }
}
