@import '../../styles/helpers';

.logo {
  @include flexbox;
  transition: 200ms;
  
  &:hover {
    transform: scale(1.1);
  }
}

.logoImage {
  width: 24px;
  margin-right: 8px;

  img {
    width: 100%;
  }
}

.logo .logoText {
  font-size: 22px !important;
}