@import "../../styles/helpers.scss";

@mixin disabled {
  pointer-events: none;

  opacity: 0.6;
}

.label {
  margin-right: 12px;

  display: inline-block;
  flex: 0 0 auto;

  &.disabled {
    @include disabled;
  }

  &.s {
    // margin-top: 10px;
  }

  &.m {
    // margin-top: 13px;
  }

  &.l {
    // margin-top: 20px;
  }
}

.errorText {
  margin-top: 5px;
}

.selectWrap {
  @include flexbox(center, flex-start);
}

.selectWithErrorWrap {
  width: 100%;
  flex: 1 0 auto;
}

.select {
  &.disabled {
    .control {
      // background: $color-gray;
    }
  }
}

:root {
  .select .control {
    box-sizing: border-box;
    min-width: 120px;
    height: 40px;
    background: none;
    border: 2px solid $color-neutral-10;
    border-radius: $border-radius;

    &:hover {
      border-color: $color-neutral-60;
    }

    &.errorControl {
      // border-color: $color-red;
    }

    &.open {
      // border-bottom-left-radius: 0;
      // border-bottom-right-radius: 0;
      // background-color: $color-light-green;
      // box-shadow: $box-shadow;
      &.dark {
        // background-color: $color-black;
        // border: 1px solid $color-black;
        border-bottom-color: transparent;
        box-shadow: none;
      }
    }
  }

  .valueContainer {
    padding: 0;
    height: 100%;
    margin-right: 5px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
  }

  .singleValue {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    color: $color-neutral-80;
    top: 12px;
  }
}

.singleValue {
  @include flexbox(center, flex-start);
}

.control {
  height: 50px;

  border-radius: $border-radius;

  &.focused {
    box-shadow: none;
  }

  &.s {
    padding: 10px 16px;

    height: 34px;

    font-size: 12px;
  }

  &.m {
    padding: 0px 20px;

    height: 44px;
  }

  &.l {
    padding: 10px 20px;

    height: 58px;
  }

  &.dark {
    // background-color: $color-green;
    border-color: transparent;
  }

  &.light {
    // background-color: $color-green;
  }
}

:root .placeholder {
  display: block;
  overflow: hidden;

  width: 90%;

  font-size: 16px;
  font-weight: 600;

  white-space: nowrap;
  text-overflow: ellipsis;
}

:root .menu {
  border: 2px solid $color-neutral-20;
}

:root .menuList {
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}

:root .option {
  @include flexbox(center, flex-start);
  margin: -2px 0;
  padding: 10px 20px;

  background-color: none;
  transition: $transition;
  
  // &:hover {
  //   background-color: $color-neutral-20;
  // }
  &.selected {
  }

  &.focused {
    color: $color-bg;
    background-color: rgba($color-primary, 0.4);

  }
}

:root .optionText,
:root .noOptionsMessage {
  font-size: 16px;
  font-weight: 600;
}

.indicatorsContainer {
  @include flexbox();
  width: 0;
}

.dropdownIndicator {
  width: 20px;
  height: 20px;
  object-fit: fill;

  transition: all 200ms ease-in;
  transform: rotate(0deg);

  &.open {
    transform: rotate(180deg);
  }

  &.disabled {
    display: none;
  }
}

.noOptionsMessage {
  padding: 10px 5px;
}

.iconOption {
  margin-right: 12px;

  width: 34px;
  height: 34px;

  object-fit: contain;
  object-position: center;
}
