@import 'src/styles/helpers';

.copy {
  cursor: pointer;
  @include flexbox;

  &.withIcon {
    transition: all 200ms ease-in;
    .icon {
      background: rgba(255, 255, 255, 0.16);
      color: $color-neutral-0;
      @include flexbox;
      padding: 6px;
    }

    &:hover {
      filter: brightness(115%);
      .icon {
        transition: all 200ms ease-in;
      }
    }

    &:active {
      filter: brightness(90%);
    }
  }
}

.icon {
  margin-left: 5px;
}
