@import 'src/styles/helpers';
@import 'src/styles/mixins/media';

.wrapper {
  margin-top: 40px;
  max-height: 550px;
  gap: 24px;
  @include flexbox(stretch, space-between);
}

.chartWrapper {
  padding: 32px;
  border: 1px solid $color-neutral-10;
  flex: 0 0 60%;
  border-radius: $border-radius;
}

.tradingHistoryWrapper {
  flex: 0 0 37%;
}

.chartFilter {
  @include flexbox(baseline, space-between);
  border-bottom: 1px solid $color-neutral-10;
  padding-bottom: 20px;

  .chartSelect {
    @include flexbox;
    gap: 10px;
    & > * {
      &:first-child {
        margin-right: 12px;
      }
    }
  }
}

.chart {
  margin-top: 20px;
  max-width: 650px;

  @include forDesktopBig {
    max-width: none;
  }

  canvas {
    max-height: 325px;
  }
}

@include b(1280) {
  .wrapper {
    flex-direction: column;
    max-height: 1000px;
  }
}
