@import '../../../styles/helpers';

.item {
  padding-bottom: 32px;

  display: flex;

  border-bottom: 1px solid $neutrals6;

  @include m {
    position: relative;

    padding: 0 100px 0 0;

    display: block;

    border: none;
  }

  @include dark {
    border-color: $neutrals3;
  }

  &:not(:last-child) {
    margin-bottom: 48px;

    @include m {
      margin-bottom: 32px;
    }
  }
}

.follower {
  padding-right: 24px;

  display: flex;
  align-items: center;

  width: 326px;
  flex: 0 0 326px;

  @include d {
    width: 244px;
    flex: 0 0 244px;
  }

  @include m {
    padding-right: 0;

    width: 100%;
  }
}

.wrap {
  width: calc(100% - 326px);
  flex: 0 0 calc(100% - 326px);

  @include d {
    width: calc(100% - 244px);
    flex: 0 0 calc(100% - 244px);
  }

  @include m {
    display: none;
  }
}

.avatar {
  margin-right: 20px;

  width: 88px;
  height: 88px;
  flex-shrink: 0;

  @include m {
    margin-right: 16px;

    width: 72px;
    height: 72px;
  }

  img {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    object-fit: cover;
  }
}

.title {
  @include body-bold-2;
}

.counter {
  @include caption-2;
  color: $neutrals4;
}

.button {
  margin-top: 12px;
  padding: 0 12px;

  height: 32px;

  @include m {
    position: absolute;
    top: 50%;
    right: 0;

    margin-top: 0;

    transform: translateY(-50%);
  }
}

.gallery {
  margin: 0 -4px;

  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.preview {
  margin: 0 4px;

  width: 112px;
  flex-shrink: 0;

  img {
    width: 100%;

    border-radius: 12px;
  }
}

.loader {
  margin: 48px auto 10px;
}
