@import '../../../styles/helpers';

.user {
  position: relative;

  @include m {
    position: static;
  }
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;

    border-radius: 50%;
  }
}

.wallet {
  margin-left: 12px;

  color: $neutrals8;

  @include m {
    display: none;
  }
}

.currency {
  color: $green;
}

.body {
  position: absolute;
  top: calc(100% + 30px);
  left: -200%;

  margin-left: -128px;
  padding: 32px 16px 20px;

  width: 256px;

  background: $color-neutral-80;

  opacity: 0;
  box-shadow: 0 16px 64px 0 rgba(31, 47, 70, 0.4);

  transform: scale(0.9);
  transform-origin: 50% 50px;
  animation: showUser 0.4s forwards;
  will-change: transform;

  .triangle {
    content: '';

    position: absolute;
    left: 50%;
    bottom: 100%;

    width: 32px;
    height: 13px;

    transform: translateX(-50%);
    // background: url("data:image/svg+xml,%3Csvg width='32' height='13' viewBox='0 0 32 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.3432 2.65685L0 13H32L21.6569 2.65686C18.5327 -0.467339 13.4673 -0.467344 10.3432 2.65685Z' fill='%23FCFCFD'/%3E%3C/svg%3E%0A")
    //   no-repeat 100% 50% / 100% auto;

    @include m {
      display: none;
    }
  }

  @include t {
    right: 0;
    left: auto;
  }

  @include m {
    top: calc(100% + 16px);
    right: 16px;
    left: 16px;

    margin: 0;

    width: auto;
  }
}

@keyframes showUser {
  0% {
    opacity: 0;

    transform: scale(0.9);
  }

  100% {
    opacity: 1;

    transform: scale(1);
  }
}

.name {
  @include body-bold-1;
}

.code {
  margin-bottom: 8px;

  display: flex;
  align-items: center;
}

.number {
  font-weight: 500;

  color: $neutrals4;
}

.copy {
  margin-left: 8px;

  svg {
    fill: $blue;

    transition: fill 0.2s;
  }

  &:hover {
    svg {
      fill: darken($blue, 10);
    }
  }
}

.wrap {
  margin-bottom: 7px;
  padding: 8px;
  // box-shadow: 0px 24px 24px -8px rgba(15, 15, 15, 0.2);
  background: $gradient2;
  border-radius: 16px;
}

.line {
  margin-bottom: 10px;

  display: flex;
  align-items: center;
}

.preview {
  margin-right: 16px;

  width: 40px;
  height: 40px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;

    border-radius: 50%;
  }
}

.info {
  @include caption-2;
  color: $neutrals4;
}

.price {
  @include body-bold-1;
}

.button {
  padding: 0 10px;

  width: 100%;
  height: 32px;

  font-size: 14px;
}

.item {
  padding: 17px 0 12px;

  display: flex;
  align-items: center;

  color: $purple2;

  @include button-2;

  &:not(:last-child) {
    // @include dark {
    border-color: $neutrals3;
    border-bottom: 1px solid $neutrals6;
    // }
  }

  &:hover {
    cursor: pointer;

    color: $blue;

    svg {
      fill: $blue;
    }
  }

  &[href] {
    &:hover {
      color: $blue;

      svg {
        fill: $blue;
      }
    }
  }
}

.icon {
  margin-right: 8px;

  width: 20px;
  flex-shrink: 0;

  svg {
    transition: fill 0.2s;
    fill: $purple2;
  }
}

.text {
  margin-right: auto;
}

.tooltip {
  position: relative;

  display: inline-block;
  visibility: hidden;

  border-bottom: 1px solid black;
}

.tooltip .tooltiptext {
  position: absolute;
  z-index: 1;

  padding: 5px 0;

  visibility: hidden;

  width: 120px;

  text-align: center;

  color: #fff;
  background-color: black;
  border-radius: 6px;
}

.copy:hover .tooltiptext {
  visibility: visible;
}

.swapWrapper {
  padding: 15px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swap {
  box-shadow: 0 0 0 2px #674df6 inset;
}
