@import '../../../styles/helpers';

.user {
  position: relative;

  @include m {
    position: static;
  }
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
  }
}

.body {
  position: absolute;
  top: calc(100% + 35px);
  left: -200%;
  z-index: 1000;

  margin-left: -128px;
  padding: 24px;

  width: 256px;

  background: $color-neutral-0;

  opacity: 0;
  box-shadow: 0 16px 64px 0 rgba(31, 47, 70, 0.4);

  transform: scale(0.9);
  transform-origin: 50% 50px;
  animation: showUser 0.4s forwards;
  will-change: transform;

  .triangle {
    position: absolute;
    width: 0px;
    height: 0px;
    border: 16px solid transparent;
    border-bottom: 16px solid $color-neutral-0;
    top: -24px;
    right: 0;
  }

  @include t {
    right: 0;
    left: auto;
  }

  @include m {
    top: calc(100% + 16px);
    right: 16px;
    left: 16px;

    margin: 0;

    width: auto;
  }
}

@keyframes showUser {
  0% {
    opacity: 0;

    transform: scale(0.9);
  }

  100% {
    opacity: 1;

    transform: scale(1);
  }
}

.name {
  font-weight: 500;
  font-size: 20px;
  color: $color-neutral-100;
  text-align: left;
  margin-bottom: 3px;
}

.type {
  font-weight: normal;
  font-size: 14px;
  color: $color-primary;
}

.item {
  padding: 17px 0 12px;

  display: flex;
  align-items: center;

  color: $color-neutral-100;

  &:not(:last-child) {
    border-bottom: 1px solid $color-neutral-60;
  }

  &:hover {
    cursor: pointer;

    color: $color-action-hovered;
  }
}

.icon {
  margin-right: 8px;

  width: 20px;
  flex-shrink: 0;

  svg {
    transition: fill 0.2s;
  }
}

.text {
  margin-right: auto;
}

.uploadBtn {
  width: 100%;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 600;
  color: $color-bg;
  margin-bottom: 10px;
}

.userHeader {
  @include flexbox(center, flex-start);
  margin-bottom: 25px;
}

.userAva {
  @include flexbox;
  width: 45px;
  height: 45px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  margin-right: 16px;
}
