@import 'src/styles/helpers';

.user {
  position: relative;

  @include m {
    position: static;
  }
}

.popoverBtn {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  overflow: hidden;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.name {
  margin-bottom: 3px;
}

.type {
  white-space: nowrap;
  letter-spacing: 0.03em;
}


.item {
  padding-top: 16px;

  display: flex;
  align-items: center;

  color: $color-neutral-100;

  &:first-child{
    padding-top: 0;
  }

  &:not(:last-child) {
    padding-bottom: 12px;
    border-bottom: 1px solid $color-neutral-60;
  }

  &:hover {
    cursor: pointer;

    color: $color-action-hovered;
  }
}

.icon {
  margin-right: 8px;

  width: 20px;
  flex-shrink: 0;

  svg {
    transition: fill 0.2s;
  }
}

.text {
  margin-right: auto;
  white-space: nowrap;
}

.uploadBtn {
  width: 100%;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 600;
  color: $color-bg;
  margin-bottom: 10px;
}

.userHeader {
  @include flexbox(center, flex-start);
  margin-bottom: 0;
}

.popoverBody{
  margin-top: 9px;
  margin-right: 1px;
}

.userAva {
  width: 45px;
  height: 45px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  margin-right: 16px;
}
