@import 'src/styles/helpers';

.wallet {
  position: relative;

  @include m {
    position: static;
  }
}

.avatar {
  @include flexbox;

  width: 45px;
  height: 45px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;

    border-radius: 50%;
  }
}

.wallet {

  @include m {
    display: none;
  }
}


.title {
  @include flexbox(flex-start, space-between);
  gap: 32px;
}

.name {
  font-weight: 500;
  font-size: 20px;
  color: $color-neutral-0;
  text-align: left;
  margin-bottom: 3px;
}

.type {
  font-weight: normal;
  font-size: 14px;
  color: $color-actions-light-yellow;
}

.code {
  margin-bottom: 8px;

  display: flex;
  align-items: center;
}

.number {
  font-weight: 500;
}

.copy {
  margin-left: 8px;

  svg {
    transition: fill 0.2s;
  }
}

.wrap {
  margin-bottom: 7px;
  padding: 8px;
  border-radius: 16px;
}

.line {
  margin-bottom: 10px;

  @include flexbox(center, flex-start);
}

.preview {
  margin-right: 16px;

  width: 40px;
  height: 40px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;

    border-radius: 50%;
  }
}

.info {
  @include caption-2;
}

.price {
  @include body-bold-1;
}

.button {
  padding: 0 10px;

  width: 100%;
  height: 32px;

  font-size: 14px;
}

.item {
  padding: 17px 0 12px;

  display: flex;
  align-items: center;

  color: $color-neutral-10;

  &:not(:last-child) {
    border-bottom: 1px solid $color-neutral-60;
  }

  &:hover {
    cursor: pointer;

    color: $color-action-hovered;

    svg {
      fill: $color-action-hovered;
    }
  }
}

.icon {
  margin-right: 8px;

  width: 20px;
  flex-shrink: 0;

  svg {
    transition: fill 0.2s;
    fill: $color-neutral-10;
  }
}

.text {
  margin-right: auto;
}

.tooltip {
  position: relative;

  display: inline-block;
  visibility: hidden;

  border-bottom: 1px solid black;
}

.tooltip .tooltiptext {
  position: absolute;
  z-index: 1;

  padding: 5px 0;

  visibility: hidden;

  width: 120px;

  text-align: center;

  color: $color-neutral-0;
  background-color: black;
  border-radius: 6px;
}

.copy:hover .tooltiptext {
  visibility: visible;
}

.swapWrapper {
  padding: 15px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadBtn {
  width: 100%;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.userHeader {
  @include flexbox(flex-start, center);
  margin-bottom: 25px;
}

.userBio {
  text-align: left;
}

.userAva {
  width: 45px;
  height: 45px;
  img {
    max-width: 100%;
    border-radius: 50%;
  }
  margin-right: 16px;
  @include flexbox;
}

.walletLogo {
  @include flexbox(center, flex-start);
}

.provider {
  @include epilogue;
  margin-left: 16px;
  font-weight: bold;
}

.balanceTitle {
  @include epilogue;
  color: $color-neutral-60;
}

.balanceTitle,
.button {
  margin-top: 16px;
}

.balance {
  margin-top: 5px;
  @include sora;
}
