@import "../../../../../styles/helpers";

.bidderContainer {
  height: 250px;
  overflow: auto;
}

.bidderContainer::-webkit-scrollbar {
  width: 2px;
}

.bidderContainer::-webkit-scrollbar-track {
  background: rgba(102, 214, 218, 0.4);
}

.bidderContainer::-webkit-scrollbar-thumb {
  background: $color-action-default;
}

.bidderWrapper {
  @include flexbox(center, flex-start);
  margin-bottom: 10px;
  line-height: 160%;
  & > img {
    margin-right: 10px;
  }
}