@import '../../../styles/helpers';

.user {
  padding: 32px 28px;
  // border: 1px solid $neutrals6;
  text-align: center;

  background: $dark-bg;
  border-radius: 16px;
  box-shadow: 0 40px 32px -24px rgba(15, 15, 15, 0.12);

  // @include dark {
  //   background: $neutrals2;
  //   border-color: $neutrals3;
  // }

  @include r('1024') {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.avatar {
  margin: 0 auto 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 160px;
  height: 160px;

  img {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    object-fit: cover;
  }
}

.name {
  margin-bottom: 4px;

  @include body-bold-1;
}

.code {
  margin-bottom: 20px;

  display: inline-flex;
  align-items: center;
}

.number {
  @include button-2;
  color: $neutrals2;

  // @include dark {
  color: $neutrals8;
  // }
}

.copy {
  margin-left: 8px;

  svg {
    fill: $purple2;

    transition: fill 0.2s;
  }

  &:hover {
    svg {
      fill: darken($purple2, 10);
    }
  }
}

.tooltip {
  position: relative;

  display: inline-block;
  visibility: hidden;

  border-bottom: 1px solid black;
}

.tooltip .tooltiptext {
  position: absolute;
  z-index: 1;

  padding: 5px 0;

  visibility: hidden;

  width: 120px;

  text-align: center;

  color: #fff;
  background-color: black;
  border-radius: 6px;
}

.copy:hover .tooltiptext {
  visibility: visible;
}

.followers {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  display: flex;
  gap: 10px;
}

.text {
  color: $purple2;
}

.circle {
  padding: 1px;

  display: flex;

  background: $gradient;
  border-radius: 30px;
}

.inner {
  padding: 0 7px;

  color: $white;
  background: $dark-bg;
  border-radius: 30px;
}

.info {
  margin-bottom: 20px;

  @include caption-2;
  color: $neutrals4;
}

.site {
  margin-bottom: 48px;

  display: inline-flex;
  align-items: center;

  color: $neutrals2;

  // @include dark {
  color: $neutrals8;

  @include button-2;
  // }
  svg {
    margin-right: 8px;
    fill: $neutrals4;
  }
}

.control {
  position: relative;

  margin-bottom: 48px;

  display: inline-block;

  @include r('1024') {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.box {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: calc(100% + 8px);

  padding: 32px 16px;

  visibility: hidden;

  width: 220px;

  text-align: center;

  background: $neutrals8;

  // @include dark {
  background: $neutrals2;
  border: 1px solid $neutrals6;
  border-color: $neutrals3;
  border-radius: 16px;
  opacity: 0;
  box-shadow: 0 32px 32px -8px rgba(31, 47, 70, 0.12);

  transition: all 0.2s;
  transform: translateX(-50%);
  // }
  &.active {
    visibility: visible;

    opacity: 1;
  }
}

.stage {
  margin-bottom: 24px;

  font-weight: 500;
}

.share {
  display: flex;
  justify-content: center;
}

.direction {
  span {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;

    background: $neutrals6;

    // @include dark {
    background: $neutrals3;
    border-radius: 50%;

    transition: all 0.2s;
    flex-shrink: 0;

    svg {
      transition: fill 0.2s;
    }

    &:hover {
      background: $blue;

      svg {
        fill: $neutrals8;
      }
    }

    svg {
      fill: $neutrals8;
    }

    &:hover {
      background: $purple2;

      svg {
        fill: $neutrals8;
      }
    }
    // }
  }

  &:not(:last-child) {
    margin-right: 24px;
  }
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  span {
    &:nth-child(2) {
      display: none;
    }
  }

  &.active {
    background: $purple2;

    // @include dark {
    background: $purple2;
    box-shadow: inset 0 0 0 2px $purple2;
    // }
    svg {
      fill: $neutrals8;
    }

    span {
      &:first-child {
        display: none;
      }

      &:nth-child(2) {
        display: inline;
      }
    }

    &:hover {
      box-shadow: none;
    }
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.socials {
  display: flex;
  justify-content: center;
}

.social {
  svg {
    fill: $neutrals4;

    transition: fill 0.2s;
  }

  &:hover {
    svg {
      fill: $purple2;
    }
  }

  &:not(:last-child) {
    margin-right: 24px;
  }
}

.note {
  margin-top: 48px;
  padding-top: 48px;

  color: $neutrals4;

  // @include dark {
  border-color: $neutrals3;
  border-top: 1px solid $neutrals6;

  @include caption-2;
  // }
}
