@import '../../styles/helpers';

.head {
  @include flexbox(center);
  padding: 44px 0;
  flex-direction: column;
  gap: 16px;
  @include monument-extended;
  border-bottom: 1px solid $color-neutral-80;

  button {
    width: 172px;
  }
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 44px 0;
  max-width: 1440px;
}

.preview {

  width: 352px;

  img,
  video {
    width: 100%;
  }

  @include d {
    width: 304px;
  }

  @include t {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

    padding: 48px;

    display: flex;
    visibility: hidden;
    overflow: auto;

    width: 100%;
    height: 100%;

    background: rgba($neutrals1, 0.9);
    opacity: 0;

    transition: all 0.4s;

    // @include dark {
    //   background: rgba($neutrals2, 0.9);
    // }
    &.active {
      visibility: visible;

      opacity: 1;
    }
  }

  @include m {
    padding: 32px 16px;
  }
}

.list {
  margin-bottom: 40px;
  padding-bottom: 40px;

  border-bottom: 1px solid $neutrals3;

  @include m {
    margin-bottom: 32px;
    padding-bottom: 32px;
  }

  @include dark {
    border-color: $neutrals3;
  }
}

.item {
  .preview {
    margin: 0 auto;

    display: flex;
    justify-content: center;

    video {
      width: 100%;
    }
  }

  &:not(:last-child) {
    margin-bottom: 40px;

    @include m {
      margin-bottom: 32px;
    }
  }
}

.note {
  margin-top: 4px;

  @include caption-2;
  color: $purple2;
}

.file {
  position: relative;

  margin-top: 16px;

  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 182px;

  background: $purple-dark;
  border-radius: 16px;

  input[type='file'],
  input[type='file']::-webkit-file-upload-button {
    cursor: pointer;
  }

  // @include dark {
  //   background: $neutrals2;
  // }
}

.load {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 400px;

  opacity: 0;
}

.icon {
  margin-bottom: 10px;

  width: 24px;
  height: 24px;
}

.format {
  @include caption-2;
  color: $purple2;
}

.category {
  @include body-bold-2;
  color: $neutrals8;
}

.fieldset {
  margin-top: 32px;

  .field {
    input::placeholder {
      color: $purple2;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @include m {
        margin-bottom: 20px;
      }
    }
  }
}

.label {
  margin-bottom: 12px;

  @include hairline-2;
  color: $neutrals5;
}

.row {
  margin: 0 -10px;

  display: flex;

  @include m {
    margin: 0;

    display: block;
  }
}

.col {
  margin: 0 10px;

  width: calc(33.333% - 20px);
  flex: 0 0 calc(33.333% - 20px);

  @include m {
    margin: 0;

    width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.options {
  margin-bottom: 40px;

  @include m {
    margin-bottom: 32px;
  }
}

.option {
  display: flex;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.squares {
  margin-bottom: 32px;

  display: flex;
  gap: 18px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 52px;
  height: 52px;

  background: $gradient;
  border-radius: 50%;
}

.hidden {
  visibility: hidden;

  svg {
    visibility: visible;
  }
}

.square {
  padding: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 142px;
  height: 142px;

  font-weight: 700;
  text-transform: uppercase;

  background: $purple2;
  border-radius: 24px;

  :hover {
    cursor: pointer;
  }
}

.active {
  padding: 4px;

  background: $gradient;
}

.box {
  flex-grow: 1;
}

.disabled {
  padding: 0;

  display: block;

  background: $dark-bg;
  border: 2px solid $white;
  opacity: 0.34;

  :hover {
    cursor: default;
  }
}

.header {
  padding: 8px 24px 9px 23px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(255, 255, 255, 0.34);
  border-radius: 22px 22px 0 0;
  gap: 5px;

  span {
    font-size: 12px;
    line-height: 12px;

    color: $white;
  }
}

.body {
  margin-top: 6px;
  padding: 0 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;

  span {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background: $dark-bg;
  border-radius: 22px;
  gap: 20px;

  span {
    width: 100%;
    max-width: 80px;

    font-size: 12px;
    line-height: 12px;
    text-align: center;
  }
}

.switch {
  flex-shrink: 0;

  margin-left: 24px;
}

.text {
  margin-top: 4px;

  @include caption-2;
  color: $white;
}

.priceBid {
  margin-bottom: 24px;

  input::placeholder {
    color: $purple2;
  }
}

.foot {
  display: flex;
  align-items: center;

  @include m {
    display: block;

    text-align: center;
  }

  .button {
    @include m {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 24px;

      @include m {
        margin: 0 0 12px;
      }
    }
  }
}

.saving {
  margin-left: auto;

  display: inline-flex;
  align-items: center;

  @include button-1;
}

.loader {
  margin-left: 24px;
}

.dropdownCurrency {
  position: relative;
  z-index: 3;

  &.activeDropdown {
    z-index: 10;

    .bodyCurrency {
      visibility: visible;

      opacity: 1;

      transform: translateY(0);
    }
  }
}

.headCurrency {
  position: relative;

  padding: 2px 15px;

  display: flex;
  align-items: center;

  font-size: 12px;
  font-weight: 500;
  line-height: 24px;

  cursor: pointer;

  color: #fff;
  background: #674df6;
  border-radius: 33px;
}

.selection {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.bodyCurrency {
  position: absolute;
  top: calc(100% + 2px);
  right: 0;
  left: 0;

  padding: 8px 0;

  visibility: hidden;

  width: 256px;
  height: 206px;

  background: $neutrals8;

  // @include dark {
  background: $dark-bg;
  border-radius: 12px;
  opacity: 0;
  box-shadow: inset 0 0 0 2px $neutrals6, 0 4px 12px rgba($neutrals2, 0.1);
  box-shadow: inset 0 0 0 2px $neutrals3, 0 4px 12px rgba($neutrals1, 0.1);

  transition: all 0.2s;
  transform: translateY(3px);
  // }
}

.optionCurrency {
  padding: 8px 16px;

  display: flex;
  align-items: center;

  cursor: pointer;

  color: #f4f5f6;

  transition: color 0.2s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover,
  &.selectioned {
    color: $blue;
  }
}

.textCurrency {
  margin-left: 10px;

  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.image {
  width: 24px;
  height: 24px;
}

.dates {
  margin-bottom: 75px;
}

.fee {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  font-weight: 500;
  line-height: 24px;

  .purple {
    color: $purple2;
  }
}
