@import 'src/styles/helpers';

.column {
  padding: 44px 32px;
  height: 100%;

  & + & {
    border-left: 1px solid $color-neutral-10;
    padding-bottom: 44px;
    @include forDesktopSm {
      width: 100%;
      border: none;
    }
  }

  @include forDesktopSm {
    padding: 0;
    width: 100%;
  }
}

.info {
  margin-top: 24px;
  padding-bottom: 32px;
  @include flexbox(flex-start, flex-start);
  gap: 32px;
  border-bottom: 1px solid $color-neutral-10;
}

.subtitle {
  @include epilogue;
  margin-top: 16px;
  line-height: 1.5;
}

.description {
  margin-top: 32px;
  max-width: 474px;
  white-space: pre-line;
  word-break: break-all;
  @include epilogue;
  line-height: 1.6;

  @include forDesktopSm {
    max-width: 100%;
    margin-bottom: 64px;
  }
}

.socials {
  margin-top: 16px;
  @include flexbox(flex-start, flex-start);
  flex-direction: column;
  gap: 16px;
}

.social {
  @include flexbox(center, flex-start);
  gap: 8px;
}

.registered {
  margin-top: 16px;
  @include epilogue;
}
