@import "src/styles/helpers";

.artCardAuthor {
  @include flexbox(center, flex-start);
}

.name {
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}
