@import "../../../../../styles/helpers";

.fourPointStar {
  position: relative;
  width: 0px;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #007bff transparent transparent;

  &.green {
    border-color: transparent $color-actions-light-green transparent transparent;
  }

  &.blue {
    border-color: transparent $color-primary transparent transparent;
  }

  &.purple {
    border-color: transparent $color-actions-light-purple transparent transparent;
  }

  &.big {
    border-width: 8px 65px 8px 0;

    &.up {
      transform: rotate(90deg);
      top: -32px;
    }
    
    &.right {
      transform: rotate(180deg);
      right: -97px;
    }
    
    &.down {
      transform: rotate(270deg);
      top: 32px;
    }
    
    &.left {
      left: -32px;
    }
  }

  &.med {
    border-width: 5px 40px 5px 0;

    &.up {
      transform: rotate(90deg);
      top: -20px;
    }
    
    &.right {
      transform: rotate(180deg);
      right: -60px;
    }
    
    &.down {
      transform: rotate(270deg);
      top: 20px;
    }
    
    &.left {
      left: -20px;
    }
  }

  &.small {
    border-width: 3px 23px 3px 0;

    &.up {
      transform: rotate(90deg);
      top: -11px;
    }
    
    &.right {
      transform: rotate(180deg);
      right: -34px;
    }
    
    &.down {
      transform: rotate(270deg);
      top: 11px;
    }
    
    &.left {
      left: -11px;
    }
  }
}
