@import '../../../../../styles/helpers';

.fourPointStar {
  position: relative;

  width: 0;
}

.arrow {
  position: absolute;

  width: 0;
  height: 0;

  border-style: solid;
  border-color: transparent #007bff transparent transparent;

  &.green {
    border-color: transparent $color-actions-light-green transparent transparent;
  }

  &.blue {
    border-color: transparent $color-primary transparent transparent;
  }

  &.purple {
    border-color: transparent $color-actions-light-purple transparent transparent;
  }

  &.big {
    border-width: 8px 65px 8px 0;

    &.up {
      top: -32px;

      transform: rotate(90deg);
    }

    &.right {
      right: -97px;

      transform: rotate(180deg);
    }

    &.down {
      top: 32px;

      transform: rotate(270deg);
    }

    &.left {
      left: -32px;
    }
  }

  &.med {
    border-width: 5px 40px 5px 0;

    &.up {
      top: -20px;

      transform: rotate(90deg);
    }

    &.right {
      right: -60px;

      transform: rotate(180deg);
    }

    &.down {
      top: 20px;

      transform: rotate(270deg);
    }

    &.left {
      left: -20px;
    }
  }

  &.small {
    border-width: 3px 23px 3px 0;

    &.up {
      top: -11px;

      transform: rotate(90deg);
    }

    &.right {
      right: -34px;

      transform: rotate(180deg);
    }

    &.down {
      top: 11px;

      transform: rotate(270deg);
    }

    &.left {
      left: -11px;
    }
  }
}
