@import '../../styles/helpers.scss';

.page {

  &_body {
    margin: 0 auto;
    padding: 0 15px;

    max-width: 1470px;
    display: grid;
    grid-template-columns: 1fr 5fr;

    &__left {
      border-right: 1px solid $color-neutral-80;
      padding-right: 88px;
      padding-top: 32px;
    }

    &__right {
      padding: 44px 32px;
    }
  }
}

.tabs {
  flex-direction: column;
  align-items: flex-start;

  button {
    margin-bottom: 25px;
    height: 40px !important;

    p {
      font-size: 16px !important;
    }

    &::before {
      bottom: -24px !important;
    }
  }
}

.subtitle {
  color: $color-neutral-40;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}
