@import '../../styles/helpers';

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  padding: 32px;

  display: flex;
  overflow: auto;

  width: 100%;
  height: 100%;

  background: rgba($color-bg, 0.9);
  opacity: 0;

  animation: showModal 0.4s forwards;

  @include m {
    padding: 32px 16px;
  }
  // }
}

@keyframes showModal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.outer {
  position: relative;
  z-index: 2;

  margin: auto;
  padding: 32px;

  width: 100%;
  max-width: 755px;

  background: $color-neutral-80;
}

.title {
  padding-bottom: 27px;
  margin-bottom: 30px;
  border-bottom: 1px solid #6b6785;
  font-weight: bold;
  @include monument-extended;
}

.container {
}

.close {
  position: absolute;
  top: 32px;
  right: 32px;

  width: 40px;
  height: 40px;

  font-size: 0;

  background: #080134;
  border: 1px solid #ff72d2;

  svg {
    transition: transform 0.2s;
    fill: $neutrals8;
    transform-origin: center;
  }
  // }
  &:hover {
    svg {
      transform: rotate(90deg);
    }
  }
}
