@import '../../../../styles/helpers';

.iconWrapper {
  margin: 10px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .icon:hover {
    cursor: pointer;
  }
}

.title {
  margin-bottom: 24px;
}

.header {
  display: flex;
  justify-content: space-between;

  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;

  color: $neutrals5;
}

.wrapper {
  text-align: left;

  @include body-bold-2;

  input {
    color: $neutrals8 !important;
    background: transparent;

    &::placeholder {
      color: $purple2;
    }
  }
}

.input {
  margin-top: 12px;
}

.btns {
  display: flex;
  justify-content: center;
}

.button {
  margin: 20px auto 0;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.suffix {
  top: calc(50% - 15px);

  padding: 2px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 56px;
  height: 28px;

  background: #674df6;
  border-radius: 33px;
}
