@import '../../styles/helpers.scss';

$trackSize: 16px;

.rc-slider-mark {
  display: none;
}

.rc-slider {
  height: $trackSize;
  padding: 0;
  .rc-slider-rail {
    border-radius: 2px;
    height: $trackSize;
    background-color: $color-neutral-0;
    opacity: 0.1;
  }

  .rc-slider-track {
    border-radius: 2px;
    height: $trackSize;
    background: $color-primary;
    transition: 0.2s width;
  }

  .rc-slider-handle {
    width: 28px;
    height: 28px;
    background-color: $color-primary;
    border: 4px solid $color-neutral-0;
    border-radius: 20px;

    margin-top: -8px;
    box-shadow: none;
    transition: 0.2s left;
  }
}

.rc-slider-vertical {
  @include flexbox;
  height: 100%;


  .rc-slider-rail {
    border-radius: 2px;
    width: $trackSize;
    height: 100%;
    background-color: #191D2B;
  }

  .rc-slider-handle {
    transition: 0.2s bottom;
  }

  .rc-slider-track {
    width: $trackSize;
    height: 100%;
    left: calc(50% - #{$trackSize / 2});
    transition: 0.2s height;
  }

  .rc-slider-handle {
    margin-top: 0;
    margin-left: 0;
  }
}
