@import '../../styles/helpers.scss';

$minHeight: 250px;

.container {
  @include flexbox(center, center);
  flex-direction: column;
  flex-wrap: wrap;

  &.verticalContainer {
    flex-direction: row;

    height: 100%;

    .valueInput {
      width: 90%;
      min-width: 0;

      border-color: transparentize($color: white, $amount: 0.8);
    }

    .labelWrap {
      position: relative;

      width: 100%;
    }

    .maxValue {
      display: none;
    }

    .label {
      text-align: center;
    }

    .currency {
      text-align: center;
    }

    .wrap {
      width: auto;
    }

    .values {
      margin-top: 0;
      padding: 20px 0;

      flex-direction: column;

      width: 25%;
      height: 100%;
      flex-basis: 100%;

      &.top {
        position: relative;

        padding: 0;

        &::after {
          content: '';

          position: absolute;
          top: 0;
          right: 12px;
          bottom: 0;

          padding-top: 7px;
          padding-bottom: 7px;

          font-size: 12px;

          color: white;
        }

        input {
          padding-right: 30px;
        }
      }
    }

    .sliderContainer {
      flex-direction: column;

      width: auto;
      height: 100%;
    }

    .manageBtnPlus {
      margin-bottom: 20px;
      margin-left: 0;
      order: 1;
    }

    .manageBtnMinus {
      margin-top: 20px;
      margin-right: 0;
      order: 3;
    }

    .slider {
      order: 2;

      min-height: 10px;
    }
  }
}

.valuesWrapper{
  position: relative;
  width: 100%;
  margin-bottom: 28px;

  .max,
  .min{
    position: absolute;
    top: 5px;
  }

  .max{
    right: 0;
  }

  .min{
    left: 0;
  }
}

.sliderContainer {
  width: 100%;
  @include flexbox;
  flex-direction: column;
}

.manageBtn {
  display: block;

  width: 26px;
  height: 26px;

  font-size: 20px;
  font-weight: bold;
  line-height: 20px;

  color: $color-neutral-80;
  background-color: white;
  border-radius: 6px;

  transition: 0.2s $color-neutral-80;
  flex-shrink: 0;

  &:hover {
    background-color: darken(white, 10%);
  }
}

.manageBtnPlus {
  margin-left: 20px;
}

.manageBtnMinus {
  margin-right: 20px;
}

.labelWrap {
  width: 100%;

  text-align: left;

  cursor: default;
}

.label {
  margin-bottom: 15px;
}

.wrap {
  width: 100%;
  height: 100%;
}

.values {
  @include flexbox(center, space-between);
  margin-top: 20px;

  width: 100%;

  &.top {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.currency {
  margin-bottom: 15px;
  // min-height: 35px;

  @include forTablet {
    font-size: 14px;
  }
}

.valueInput {
  padding: 8px 16px 8px 16px;
  width: 100%;
  
  font-size: 16px;

  color: $color-neutral-100;
  background-color: transparent;
  border: 2px solid $color-neutral-20;
  border-radius: 6px;

  -moz-appearance: textfield;

  &:focus {
    outline: none;
  }

  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
  }
}

body {
  .switcher {
    @include flexbox(center, space-between);
  }

  .switcherBtn {
    padding: 0;

    min-width: auto;

    color: white;

    border-radius: 100%;

    &.activeSwitcher {
      color: white;
      border: 2px solid $color-neutral-80;
    }
  }

  .switcherBtnRight {
    background-color: black;

    &.activeSwitcher {
      background-color: black;
    }
  }

  .switcherBtnLeft {
    background-color: $color-state-error;

    &.activeSwitcher {
      background-color: $color-state-error;
    }
  }
}

.switcher {
  margin-bottom: 15px;
  padding: 3px;

  width: 92px;
  flex: 0 0 auto;
}

.switcherBtn {
  @include flexbox;
  width: 30px;
  min-width: auto;
  height: 30px;
}
