@import '../../../styles/helpers';

.head {
  margin: 0 auto 128px;

  max-width: 600px;

  text-align: center;

  @include x {
    margin-bottom: 112px;
  }

  @include m {
    margin-bottom: 64px;
  }

  .button {
    box-shadow: 0 0 0 2px $purple2 inset;
  }
}

.stage {
  margin-bottom: 8px;

  @include hairline-2;
  color: $purple2;
}

.title {
  margin-bottom: 24px;

  @include m {
    font-size: 32px;
  }
}

.wrapper {
  position: relative;

  margin: 0 -12px;
}

.row {
  display: flex;
  align-items: center;

  @include t {
    display: block;
  }
}

.player {
  flex-grow: 1;

  @include t {
    margin: 0 auto;

    max-width: 768px;
  }
}

.details {
  margin-left: 128px;
  padding-bottom: 80px;

  width: 352px;
  flex-shrink: 0;

  @include x {
    margin-left: 64px;
  }

  @include d {
    margin-left: 32px;
    padding-bottom: 64px;

    width: 304px;
  }

  @include t {
    margin: 48px 0 0;
    padding-bottom: 80px;

    width: 100%;
  }

  @include m {
    margin-top: 32px;
  }
}

.creativeSlider {
  :hover {
    // cursor: grab;
  }

  :active {
    cursor: grabbing;
  }
}

.subtitle {
  margin-bottom: 20px;

  @include d {
    font-size: 48px;
  }
}

.line {
  margin: 0 -16px 40px;

  display: flex;

  @include d {
    margin-bottom: 24px;
  }
}

.item {
  margin: 0 16px;

  display: flex;
  align-items: center;

  width: calc(50% - 32px);
  flex: 0 0 calc(50% - 32px);
}

.avatar,
.icon {
  margin-right: 8px;

  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.avatar {
  img {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    object-fit: cover;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  background: $green;
  border-radius: 50%;

  svg {
    fill: $neutrals8;
  }
}

.description {
  flex-grow: 1;

  a {
    color: $neutrals8;
  }
}

.category {
  @include caption-2;
  color: $neutrals4;
}

.text {
  font-weight: 500;
}

.wrap {
  margin-bottom: 40px;
  padding: 30px 16px;

  text-align: center;

  background: $neutrals2;
  border-radius: 24px;
  box-shadow: 0 64px 64px -48px rgba(31, 47, 70, 0.12);

  @include d {
    margin-bottom: 32px;
    padding: 24px 16px;
  }

  @include dark {
    background: $neutrals2;
    border-color: $neutrals2;
  }
}

.info {
  @include body-bold-2;
}

.currency {
  @include dm-sans;
  font-size: 48px;
  line-height: (56 / 48);
  letter-spacing: -0.02em;
}

.price {
  margin-bottom: 24px;

  @include body-bold-1;
  color: $neutrals4;
}

.timer {
  margin-top: 8px;

  display: flex;
  justify-content: center;
}

.box {
  flex-shrink: 0;

  width: 64px;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.number {
  @include dm-sans;
  font-size: 32px;
  line-height: (40 / 32);
  letter-spacing: -0.01em;
}

.time {
  @include body-bold-2;
  color: $neutrals4;
}

.btns {
  display: flex;
  flex-direction: column;

  .button {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
