@import '../../styles/helpers.scss';

.discover {
  margin: 0 auto;
  padding: 0 88px;

  max-width: 1600px;
}

.filterControls {
  @include flexbox(center, space-between);

  .advancedFilterBtn {
    padding: 0 20px;
  }

  .filterTab {
    padding: 20px 15px;
  }
}

.filterAndCards {
  position: relative;
  @include flexbox(flex-start, flex-end);
  padding: 44px 0;

  transition: 200ms;

  .filter {
    position: absolute;
    margin-top: 30px;
    left: 0;
    transition: 200ms;
    transform: translateX(-100vw);

    &.open {
      transform: translateX(0);
    }
  }

  .filterResultsContainer {
    flex-basis: 100%;

    padding: 0 10px;

    .filterResults {
      @include flexbox(center, flex-start);
      flex-wrap: wrap;

      margin: 0 -16px;

      & > * {
        margin: 10px;
      }
    }

    &.withFilter {
      flex-basis: calc(100% - 320px);
      //.filterResults {
      //  @include flexbox(center, flex-end);
      //}
    }
  }
}

.mobileAdvancedFilter {
  display: none;
}

.title {
  .gradientTitle {
    @include gradientText;
  }
}

.liveAuction {
  margin-top: 100px;
}

.recommendedArtworkBtn {
  @include flexbox();
  color: $color-secondary;
}

.recommendArtworkTitle {
  @include flexbox(center, space-between);
}

.recommendArtworkCardContainer {
  @include flexbox(center, space-evenly);
  flex-wrap: wrap;

  margin: -20px;
  padding-bottom: 50px;

  & > * {
    margin: 20px;
  }
}

.title {
  text-align: center;
  margin: 44px 0 20px;
}

@include forDesktopSm {

  .discover {
    padding: 0 20px;
  }

  .advancedFilter {
    display: none;
  }

  .mobileAdvancedFilter {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 300ms;
    z-index: 10;

    &.open {
      transform: translateX(0);
    }
  }

  .filterResults, .filterAndCards {
    justify-content: center !important;
  }

  .filterResultsContainer {
    flex-basis: 100%;
    &.withFilter {
      flex-basis: 100%;
      .filterResults {
        @include flexbox(center, center);
      }
    }
  }

  .advancedFilterBtn {
    font-size: 0 !important;
  }

  .recommendArtworkTitle {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
  }
}

@include forTablet {
  .discover {
    padding: 0;
  }
}

.select{
  width: 155px;
}

.image{
  margin-left: 10px;
}