@import '../../styles/helpers.scss';

.discover {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 88px;
}

.filterControls {
  @include flexbox(center, space-between);
  .advancedFilterBtn {
    padding: 0 20px;
  }

  .filterTab {
    padding: 20px 15px;
  }
}

.filterAndCards {
  position: relative;
  @include flexbox(flex-start);
  padding: 44px 0;
  transition: 200ms;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 1000%;
    height: 100%;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: $color-neutral-80;
  }

  &:after {
    position: absolute;
    top: 0%;
    left: 24%;
    content: '';
    height: 0;
    width: 1px;
    background: $color-neutral-80;
    transition: 200ms;
  }

  &.open {
    &:after {
      height: 100%;
    }
  }

  .filter {
    margin-top: 30px;
    transform: translateX(-100vw);
    flex-basis: 0%;
    transition: 200ms;
    width: 0;

    &.open {
      transform: translateX(0);
      flex-basis: 27%;
      width: 100%;
    }
  }

  .filterResultsContainer {
    flex-basis: 100%;
    padding: 0 20px;

    .filterResults {
      @include flexbox(center, space-between);
      flex-wrap: wrap;
      margin: -16px;
      & > * {
        margin: 16px;
      }
    }

    &.withFilter {
      .filterResults {
        @include flexbox(center, flex-end);
      }
    }
  }
}

.title {
  width: 100%;
  @include flexbox;

  .gradientTitle {
    @include gradientText;
  }
}

.liveAuction {
  margin-top: 100px;

}

.recommendedArtworkBtn {
  @include flexbox();
  color: $color-secondary;
}

.recommendArtworkTitle {
  @include flexbox(center, space-between);
}

.recommendArtworkCardContainer {
  @include flexbox(center, space-between);
  flex-wrap: wrap;

  margin: -20px;
  & > * {
    margin: 20px;
  }
  padding-bottom: 50px;
}

@include forTablet {
  .discover {
    padding: 0;
  }
}