@import '../../styles/helpers.scss';

.discover {
  @include container;
}

.filterControls {
  @include flexbox(center, space-between);
  border-bottom: 1px solid $color-neutral-10;

  .advancedFilterBtn {
    padding: 0 20px;

    & .icon{
      margin-left: 10px;
    }

    &Empty {
      width: 170px;
    }
  }

  .filterTab {
    padding: 24px 15px;
    box-shadow: inset 0px -1px 0px #393556;
  }
}

.filterAndCards {
  position: relative;
  // min-height: 620px;
  @include flexbox(normal,normal);
  //padding: 44px 0;
  min-height: 50vh;

  transition: 200ms;

  .filter {
    //position: absolute;
    //left: 0;
    height: auto;
    border-right: 1px solid $color-neutral-10;
    transition: 200ms;
    transform: translateX(-100vw);

    &.open {
      transform: translateX(0);
    }
  }

  .filterResultsContainer {
    margin-top: 44px;
    flex-basis: 100%;

    .filterResults {
      margin-top: 24px;
      @include autoGrid;
    }

    &.withFilter {
      flex-basis: calc(100% - 320px);
      //.filterResults {
      //  @include flexbox(center, flex-end);
      //}
    }
  }
}

.mobileAdvancedFilter {
  display: none;
}

.title {
  .gradientTitle {
    @include gradientText;
  }
}

.liveAuction {
  margin-top: 100px;
}

.recommendedArtworkBtn {
  @include flexbox();
  color: $color-secondary;
}

.recommendArtworkTitle {
  @include flexbox(center, space-between);
}

.recommendArtworkCardContainer {
  @include flexbox(center, space-evenly);
  flex-wrap: wrap;

  margin: -20px;
  padding-bottom: 50px;

  & > * {
    margin: 20px;
  }
}

.title {
  text-align: center;
  margin: 44px 0 20px;
}

@include forDesktopSm {
  .discover {
    padding: 0 20px;
  }

  .advancedFilter {
    display: none;
  }

  .mobileAdvancedFilter {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 300ms;
    z-index: 10;

    &.open {
      transform: translateX(0);
    }
  }

  .filterResults,
  .filterAndCards {
    justify-content: center !important;
  }

  .filterResultsContainer {
    flex-basis: 100%;
    &.withFilter {
      flex-basis: 100%;
      .filterResults {
        @include flexbox(center, center);
      }
    }
  }

  .advancedFilterBtn {
    font-size: 0 !important;
  }

  .recommendArtworkTitle {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
  }
}

@include forTablet {
  .discover {
    padding: 0;
  }
}

.select {
  width: 155px;
}

.image {
  margin-left: 10px;
}
