@import 'src/styles/helpers.scss';
@import 'src/styles/mixins/media.scss';

.page {
  &_user {
    background-color: #84334d;
  }

  &_body {
    @include container;
    @include b(600) {
      padding: 0;
      display: block;
    }

    &__left {
      border-right: 1px solid #393556;
      padding-right: 88px;
      padding-top: 32px;
      @include b(600) {
        border-right: none;
        border-bottom: 1px solid #393556;
        padding-right: 0;
        padding-top: 24px;
      }
    }
    &__right {
      padding: 44px 0;
      @include b(600) {
        padding: 44px 5px;
      }
    }
  }
}

.page_body__top {
  @include flexbox('center', 'space-between');
  margin-bottom: 32px;
  &_sorters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  @include b(900) {
    display: block;
  }
}

.page_body__artworks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 32px;
  justify-items: center;
  @include b(1600) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include b(1300) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include b(900) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.title {
  margin-bottom: 5px;
}

.counter {
  font-size: 16px;
  color: $color-neutral-20;
  @include b(900) {
    margin-bottom: 16px;
  }
}

.button_more {
  padding: 0 32px;
  font-size: 16px;
  font-weight: 600;
}

.button_wrapper {
  @include flexbox;
}

.tabs {
  flex-direction: column;
  align-items: flex-start !important;
  @include b(600) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  button {
    margin-bottom: 25px;
    height: 40px !important;
    @include b(600) {
      padding: 10px;
      margin-bottom: 24px;
    }
    p {
      font-size: 16px !important;
    }
    &::before {
      bottom: -24px !important;
    }
  }
}

.subtitle {
  color: $color-neutral-40;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
  @include b(600) {
    display: none;
  }
}

.loader {
  margin: 20px;
}
