@import 'src/styles/helpers';

.banner {
  @include container;
  padding-top: 53px;
  @include flexbox(center, space-between);
  gap: 12px;
  @include forDesktopMiddle {
    flex-direction: column;
    align-items: center;
  }
}

.info {
  @include flexbox(flex-start);
  flex-direction: column;
}

.title {
  @include flexbox(flex-start);
  flex-direction: column;
  text-transform: uppercase;
  gap: 16px;

  &Row {
    font-size: 28px;

    &:not(:first-child) {
      @include gradientText;
    }
  }
}

.description {
  margin-top: 12px;
  max-width: 460px;
}

.buttons {
  margin-top: 36px;
  @include flexbox;
  gap: 20px;

  .button {
    padding: 8px 32px;
  }
}
