@import "../../../styles/helpers";

.firstBlockContainer {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: $color-neutral-80;
}

.contentWrapper {
  @include flexbox;
  margin: 0 auto;
  max-width: 1500px;
}

.description {
  padding: 88px 88px 88px 45px;
  flex-basis: 30%;
  line-height: 32px;
}

.banner {
  flex-basis: 70%;
  padding: 88px 50px 25px 88px;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: $color-neutral-80;
  line-height: 96px;
}

.titleGradient {
  place-self: flex-end;
  width: fit-content;
  @include gradientText;
}

.titleAndStar {
  position: relative;
}

.textAndStars {
  @include flexbox();
}

.textWrapper {
  @include flexbox();
  flex-direction: column;
}

.starsWrapper {
  position: relative;
  flex-basis: 30%;
}

.greenStar {
  position: absolute;
  left: 40%;
  top: -30px;
}

.blueStar {
  position: absolute;
  top: 20px;
  left: 75%;
}

.purpleStar {
  position: absolute;
  top: 25%;
  right: 20%;
}

@include forDesktopBig {
  .description {
    padding: 0 20px;
    margin: auto;
  }

  .banner {
    padding: 44px 44px 44px 22px;
  }

  .title {
    font-size: 50px;
  }
}

@include forDesktopSm {
  .contentWrapper {
    display: block;
  }

  .banner {
    @include flexbox();
    flex-direction: column;
    border: none;
    margin: 0 auto;
    max-width: 400px;
  }

  .titleAndStar {
    width: 100%;
    & > .title {
      text-align: center;
    }
  }

  .textAndStars {
    width: 100%;
    .textWrapper {
      width: 100%;
      :nth-child(2) {
        width: 100%;
        text-align: center;
      }
    }
  }

  .greenStar {
    left: 90px;
    top: -20px;
    transform: scale(0.2);
  }

  .blueStar {
    left: 115px;
    top: -5px;
    transform: scale(0.25);
  }

  .purpleStar {
    right: 30px;
    bottom: -250px;
    transform: scale(0.5);
  }

  .description {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: $color-neutral-80;
    padding: 24px 32px;
    margin: auto;
  }

  .title {
    line-height: 120%;
    font-size: 28px;
  }
}