@import '../../styles/helpers.scss';

.container {
  position: relative;

  margin-top: 100px;
  // padding-top: 80px;
  overflow: hidden;

  height: 80vh;

  background: linear-gradient(180deg, #ffea8f 79.21%, #fff 106.14%);
  border-radius: 40px;
}

.title {
  margin-bottom: 60px;
}

.indicatorsWrapper {
  width: 100%;
}

.indicator {
  margin-right: 10px;

  width: 50px;
  height: 6px;

  background: $color-neutral-0;
  border-radius: 12px;

  &.active {
    background: linear-gradient(180deg, #44c678 0%, #269653 100%), #269653;
  }
}

.slickDots {
  margin-top: 50px;

  display: flex !important;
  justify-content: center;

  width: 100%;

  & > li::marker {
    display: none;

    color: transparent;
  }
}

.carousel {
  & > div {
    overflow: visible;
  }
}

.fadeCommon {
  position: absolute;
  z-index: 99;
  top: 0;

  width: 160px;
  height: 100%;

  background: linear-gradient(270deg, #ffe98a 0%, rgba(255, 233, 138, 0) 100%);
  border-radius: 40px;
}

.arrowLeft {
  top: -100px;
  right: 5%;

  border-radius: unset;
}

.arrowRight {
  top: -100px;
  right: 0;

  border-radius: unset;

  transform: rotate(180deg);
}

@include forDesktopSm {
  .container {
    padding-top: 30px;

    height: 70vh;
  }

  .fadeCommon {
    display: none;
  }

  .container .title {
    margin-bottom: 100px;

    font-size: 28px;
    line-height: 38px;
  }

  .slide {
    margin: 0 auto;
  }
}

@include forDesktopMiddle {
  .arrowLeft,
  .arrowRight {
    display: none;
  }
}
