@import "../../../styles/helpers";

.hotAuction {
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 88px;
}

.gradientTitle {
  @include gradientText;
}

.hotAuctionCarousel {
  margin-top: 50px;
}

@include forDesktopSm {
  .hotAuction {
    padding: 30px;
  }
  .hotAuctionTitle {
    text-align: center;
    margin-bottom: -60px;
  }
}