@import 'src/styles/helpers';

.checkbox {
  position: relative;

  display: inline-block;

  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.input {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;

  &:checked + .inner .tick {
    background: $color-orange;
    border-color: transparent;

    &::before {
      opacity: 1;
    }
  }
}

.inner {
  display: flex;
  align-items: center;

  &:hover {
    .tick {
      border-color: $color-gradient;
    }
    .text {
      color: $color-primary;
    }
  }
}

.tick {
  position: relative;

  margin-right: 12px;

  width: 16px;
  height: 16px;

  border: 1px solid $color-neutral-40;

  transition: all 0.2s;
  flex-shrink: 0;

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    width: 11px;
    height: 7px;

    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='10' fill='none' viewBox='0 0 14 10'%3E%3Cpath fill-rule='evenodd' d='M13.707.293a1 1 0 0 1 0 1.414l-8 8a1 1 0 0 1-1.414 0l-4-4a1 1 0 1 1 1.414-1.414L5 7.586 12.293.293a1 1 0 0 1 1.414 0z' fill='%23fcfcfd'/%3E%3C/svg%3E")
      no-repeat 50% 50% / 100% auto;
    opacity: 0;

    transition: opacity 0.2s;
    transform: translate(-50%, -50%);
  }
}

.text {
  font-weight: 500;
  line-height: (24 / 14);

  color: $color-neutral-100;

  transition: 0.4s ease;
}
