@import 'src/styles/helpers';

.search {
  position: relative;
  width: 100%;
  &.desktop {
    width: 500px;
  }
}

.searchDropdown {
  width: 100%;
  box-sizing: border-box;
  top: 65px;
  position: absolute;
  background: $color-bg;
  box-shadow: $color-box-shadow;
  height: 0;
  transition: 200ms;

  &.desktop {
    width: 500px;
  }

  &.isVisible {
    padding: 24px;
    height: unset;
  }
}

.searchLoader {
  position: absolute;
  top: 50%;
  right: 0;
}
