@import 'src/styles/helpers';

.title {
  @include sora;
  line-height: 120%;
  margin-bottom: 32px;
}

.form {
  input {
    border-color: #6b6785 !important;
  }
}

.upload {
  @include flexbox(center, space-between);
  @include forTablet {
    flex-direction: column;
  }

  img {
    width: 128px;
    height: 128px;

    border-radius: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }

  .empty {
    width: 128px;
    height: 128px;
    flex-shrink: 0;

    background: $color-secondary;
    border-radius: 100%;
  }
}

.wrapper {
  margin-top: 20px;
  margin-left: 20px;

  @include flexbox(center, space-between);
  flex-direction: column;

  @include forTablet {
    margin-left: 0;
  }

  .file {
    margin-top: 32px;
    width: 100%;
  }
}

.load {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 140px;

  opacity: 0;
}

.fieldset {
  margin-top: 32px;

  .field {
    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  /*.field {
    input::placeholder {
      color: $purple2;
    }

    &:not(:last-child) {
      margin-bottom: 32px;

      @include m {
        margin-bottom: 20px;
      }
    }
  }*/
}

.button {
  margin-top: 32px;

  width: 100%;
}
