@import '../../../styles/helpers';

.headerNavigation {
  @include flexbox;
  flex-basis: 30%;

  & > * {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.internalLinkWrapperBtn {
  position: relative;
  z-index: 100;
}

.internalLinksWrapper {
  @include flexbox(flex-start, flex-start);
  position: absolute;
  flex-direction: column;
  opacity: 0;
  transition: opacity 200ms;
  width: 300px;
  top: 0;
  transform: scale(0);

  &.isOpen {
    opacity: 1;
    transform: scale(1);
  }
}
