@import '../../../styles/helpers';

.item {
  padding-top: 16px;
  padding-bottom: 16px;

  display: flex;
  align-items: center;

  color: $neutrals8;

  // @include dark {
  border-color: $neutrals3;
  border-bottom: 1px solid $neutrals6;
  // }
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.avatar {
  position: relative;

  margin-right: 16px;

  width: 48px;
  height: 48px;
  flex-shrink: 0;

  & > img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    object-fit: cover;
  }
}

.reward {
  position: absolute;
  right: -5px;
  bottom: -5px;

  img {
    max-width: 25px;
  }
}

.details {
  flex-grow: 1;
}

.position {
  color: $neutrals4;
}

.name {
  font-weight: 500;
}
