@import "/src/styles/helpers.scss";

.wrapper {
    position: absolute;
    right: 0;
    background: $color-neutral-0;
    width: max-content;
    z-index: 1;
    @include box-shadow();
    border-radius: $border-radius;
}

.transition{
    transition: .3s ease;
}

.active {
    max-height: 1000px;
    padding: 20px;
}

.hidden {
    overflow: hidden;
    height: auto;
    max-height: 0;
    padding: 0;
}

.top-left {
    bottom: 100%;
    left: 0;
}

.top-center {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.top-right {
    bottom: 100%;
    right: 0;
}

.left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.bottom-left {
    top: 100%;
    left: 0;
}

.bottom-center {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-right {
    top: 100%;
    right: 0;
}
