@import 'src/styles/helpers';

.mobileCard {
  padding: 10px;

  & > * {
    margin-bottom: 20px;
  }
}

.imageWrapper {
  @include flexbox;

  & > img {
    width: 100%;
  }
}

.paymentMobile {
  padding-top: 20px;

  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: $color-neutral-20;
}
