@import "../../styles/helpers";

.detailArtworkContent {
  max-width: 1600px;
  padding: 88px;
  margin: 0 auto;
}

@include forDesktopSm {
  .detailArtworkContent {
    padding: 20px;
  }
}

.chartAndBidders {
  @include flexbox();
}

.chartWrapper, .tradingHistory {
  height: 550px;
  flex-basis: 50%;
  padding: 32px;
  border: 1px solid $color-neutral-80;
  margin-top: 40px;
  &:first-child {
    margin-right: 40px;
  }
}

.chartFilter {
  @include flexbox(baseline, space-between);
  border-bottom: 1px solid $color-neutral-80;
  padding-bottom: 20px;

  .chartSelect {
    @include flexbox;
    & > * {
      &:first-child {
        margin-right: 12px;
      }
    }
  }
}

.tableWrapper {
  height: 80%;
  overflow-y: auto;
}

@include forDesktopBig {
  .chartAndBidders {
    flex-direction: column;
  }

  .chartWrapper, .tradingHistory {
    width: 100%;
    flex-basis: unset;
    margin: 20px 20px 0 20px;
  }

  .chartWrapper {
    height: unset;
  }
}

.relatedArtwork {
  margin-top: 40px;
  position: relative;
  padding: 40px 0;
  &:after {
    position: absolute;
    content: ' ';
    height: 100%;
    width: 1000%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top: 1px solid $color-neutral-80;
  }
}

.artCardsWrapper {
  @include flexbox();
  flex-wrap: wrap;

  margin: -16px;

  & > * {
    margin: 16px;
  }
}

.viewMoreBtn {
  margin: 0 auto;
}

.viewMoreBtnWrapper {
  margin-top: 40px;
  @include flexbox;
}

.viewMoreBtn {
  width: 150px;
}



.tableWrapper::-webkit-scrollbar {
  width: 2px;
}

.tableWrapper::-webkit-scrollbar-track {
  background: rgba(102, 214, 218, 0.4);
}

.tableWrapper::-webkit-scrollbar-thumb {
  background: $color-action-default;
}