@import '../../../../../styles/helpers';

.viewsAndControls {
  width: 100%;
  margin-top: 10px;
  @include flexbox(center, space-between);
}

.controls {
  @include flexbox;

  & > button {
    margin-right: 10px;

    min-width: 38px;
  }
}

.likeButton {
  @include flexbox;
  padding: 0 10px;
  svg {
    margin-right: 5px;
  }
  &Active {
    svg {
      path {
        fill: red;
      }
    }
  }
}

@include forTablet {
  .viewsAndControls {
    display: block;
  }

  .controls {
    justify-content: flex-start;
  }
}

.actions {
  &Item {
    @include flexbox(center, flex-start);
    padding: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    cursor: pointer;
    transition: 0.3s;
    img {
      margin-right: 7px;
    }
    & + & {
      border-top: 1px solid $color-neutral-80;
    }
    &:hover {
      background: $color-neutral-80;
    }
  }
}
