@import "../../../../../styles/helpers";

.viewsAndControls {
  width: 100%;
  @include flexbox(center, space-between);
}

.controls {
  @include flexbox;
  & > button {
    margin-right: 10px;
    min-width: 38px;
  }
}