@import '/src/styles/helpers.scss';

.avatar {
  position: relative;
  display: inline-block;

  &Img {
    object-fit: cover;
    border-radius: 50%;
  }
}
.verified {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(10%, 0);
}
