@import '../../../styles/helpers';

.resourceForGettingStarted {
  flex-wrap: wrap;
  //margin: -20px auto 0;
  @include container;
  padding-top: 80px;
  padding-bottom: 80px;
}

.box {
  @include flexbox();
}

.title {
  margin-bottom: 60px;
}

.resourcesBlock {
  width: 300px;
  margin: 20px;

  .resourcesImage {
    width: 100%;
  }

  .resourcesText {
    margin-top: 20px;
  }
}
