@import '../../styles/helpers.scss';

.artCard {
  position: relative;

  border: 1px solid $color-neutral-80;
}

.tagContainer {
  position: absolute;

  padding: 15px;

  width: inherit;
  flex-wrap: wrap;
  @include flexbox(center, flex-start);

  & > .tag {
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.mainImageWrapperSmall {
  width: 292px;
  height: 304px;

  & > img {
    width: 292px;
    height: 304px;
  }
}

.mainImageWrapperMedium {
  width: 402px;
  height: 236px;

  & > img {
    width: 402px;
    height: 236px;
  }
}

.secondaryImagesContainer {
  display: flex;
}

.secondaryImageWrapper {
  width: 134px;
  height: 81px;

  & > img {
    width: 134px;
    height: 81px;
  }
}

.lastSecondaryImageWrapper {
  position: relative;
  filter: brightness(0.8);
}

.allArtNumber {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  transform: translate(-50%, -50%);
}

.artCardInfo {
  padding: 16px;

  line-height: 32px;
}

.flexContainer {
  @include flexbox(center, space-between);
}

.artCardAuthorContainer {
  padding: 10px 0 0 0;

  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: $color-neutral-80;
  img {
    max-width: 20px;
  }
}

.artCardPrice {
  text-transform: uppercase;

  color: $color-state-warning;
}

.artCardSmallLikes {
  margin-right: 8px;
}

.artCardAuthor {
  margin-left: 8px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.artCardHeart {
  margin-right: 5px;
}

@include forTablet {
  .mainImageWrapperMedium {
    width: 281px;
    height: 165px;

    & > img {
      width: 281px;
      height: 165px;
    }
  }

  .secondaryImageWrapper {
    width: 94px;
    height: 57px;

    & > img {
      width: 94px;
      height: 57px;
    }
  }
}
