@import "src/styles/helpers";

.advancedFilter {
  padding: 44px 32px 24px 0;
  width: 300px;
  height: fit-content;
  background: $color-bg;
  z-index: 10;

  @include forDesktopSm {
    padding: 0;
    width: 100%;
  }

  & > * {
    margin-bottom: 30px;
  }

  &Applied {
    @include flexbox(center, space-between);

    .clearBtn {
      color: $color-primary;
    }
  }
}

.rangeFilter {
  margin-top: 20px;
}

.colorButtonContainer {
  margin-top: 10px;
  @include flexbox(center, flex-start);
}

.tagContainer {
  @include flexbox(center, flex-start);
  flex-wrap: wrap;
}

.filterTag {
  margin: 0 10px 10px 0;
}

.colorButtonContainer .colorBtn {
  position: relative;

  margin-left: 10px;

  width: 24px;
  height: 24px;

  border-radius: 50%;

  &.selected {
    &::after {
      content: "";

      position: absolute;
      top: 50%;
      left: 50%;

      width: 12px;
      height: 12px;

      background: $color-neutral-0;
      border-radius: 50%;

      transform: translate(-50%, -50%);
    }
  }
}

.clearColorBtn {
  width: 24px;
  height: 24px;

  border: 1px solid $color-neutral-20;
  border-radius: 50%;
  @include flexbox;
}

.advancedFilterFlex {
  @include flexbox(center, space-between);
}

.advancedFilterFlex .advancedFilterCloseBtn {
  border: 1px solid $color-actions-light-pink;
  width: 42px;
  height: 42px;
  // background-color: $color-neutral-80;
}
.label {
  opacity: 0.7;
}
