@import 'src/styles/helpers';

.uploader {
  position: relative;

  width: 100%;
  height: 100%;

  div {
    display: block !important;

    width: 100%;
    height: 100%;
  }
}

.load {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 400px;

  opacity: 0;
}

.preview {
  width: 100%;
}

.button {
  @include forTablet {
    padding: 6px 12px !important;
  }
}
