@import '../../styles/helpers';

.uploader {
  position: relative;

  width: 100vw;
  height: 100vh;

  div {
    display: block !important;

    width: 100%;
    height: 100%;
  }
}

.load {
  position: absolute;
  top: 0;
  left: 0;

  font-size: 400px;

  opacity: 0;
}

.preview {
  width: 100%;
}

.button {
  margin-top: 32px;

  width: 100%;
}
