@import 'src/styles/helpers';

.footer {
  background: $color-bg2;
}

.footerContent {
  @include container;
  padding-top: 60px;
}

.controlAndSocial {
  padding-bottom: 40px;
  @include flexbox(flex-start, space-between);
  & > * {
    &:first-child {
      margin-right: 40px;
      flex-basis: 50%;
    }
  }
}

.linksAndLogo {
  @include flexbox(flex-start, space-between);
  border-top: 1px solid $color-neutral-80;
  padding-top: 60px;

  .footerLogo {
    flex-basis: 25%;
    @include flexbox(flex-start, flex-start);
    flex-direction: column;
    max-width: 320px;

    .footerLogoChild {
      margin-bottom: 24px;
    }

    .logo {
      margin-bottom: 32px;
      * {
        color: $color-neutral-0 !important;
      }
    }
  }

  .linkBlockContainer {
    @include flexbox(flex-start, space-between);
    flex-basis: 75%;
    width: 100%;
    margin-left: 30px;

    .linkBlock {
      @include flexbox(flex-start, flex-start);
      flex-direction: column;

      .footerBtnLink {
        margin: 4px 0;
        @include flexbox(center, flex-start);
      }

      & > * {
        margin-bottom: 24px;
      }
    }
  }
}

.footerLinks {
  flex-basis: 50%;
  @include flexbox(flex-start, center);

  & > .linkBlock {
    &:not(:last-child) {
      margin-right: 100px;
    }
  }
}

.footerActions {
  flex-basis: 25%;

  margin-bottom: 64px;

  & > * {
    margin-bottom: 24px;
  }

  input {
    color: $color-neutral-0;
  }
}

.footerIconLinks {
  margin-top: 32px;
}

.connect {
  .connectText {
    @include poppins;
    &:hover {
      color: $color-action-hovered;
    }
  }
}

.copyrightBlock {
  height: 100px;
  @include flexbox(center, space-between);
  border-top: 1px solid $color-neutral-80;

  .copytrightLinks {
    @include flexbox();

    .copyRightLink {
      margin: 0 4px;
    }
  }
}

@include forDesktopBig {
  .footerContent {
    padding: 32px 32px 10px 32px;
  }
}

@include forDesktopSm {
  .footerContent {
    padding: 32px 32px 0 32px;
  }

  .controlAndSocial {
    @include flexbox();
    flex-direction: column;
    padding-bottom: 0px;
  }

  .linksAndLogo {
    @include flexbox();
    flex-direction: column;
    padding: 24px 0;

    .footerLogo {
      max-width: unset;
    }

    .linkBlockContainer {
      flex-wrap: wrap;
      border-top: 1px solid $color-neutral-80;

      .linkBlock {
        margin: 24px 0;
        align-items: flex-start;
        flex-basis: 50%;

        .footerBtnLink {
          margin: 4px 0;
        }

        & > * {
          margin-bottom: 24px;
        }
      }
    }
  }

  .copyrightBlock {
    justify-content: center;
    flex-direction: column;
  }
}
