@import 'src/styles/helpers';

.footerContent {
  margin: 0 auto;
  @include container;
  padding-bottom: 22px;

  // max-width: 1500px;
}

.linksAndControls {
  @include flexbox(flex-start, space-between);
  padding-top: 64px;
  border-top: 1px solid $color-neutral-30;
}

.footerLogo {
  flex-basis: 25%;
  @include flexbox(flex-start, flex-start);
  flex-direction: column;
}

.logo {
  margin-bottom: 32px;
  * {
    color: $color-neutral-0 !important;
  }
}

.footerLinks {
  flex-basis: 50%;
  @include flexbox(flex-start, center);

  & > .linkBlock {
    &:not(:last-child) {
      margin-right: 100px;
    }
  }
}

.linkBlock {
  @include flexbox(flex-start, flex-start);
  flex-direction: column;

  .button {
    padding-left: 0;
  }

  & > * {
    margin-bottom: 20px;
  }
}

.footerActions {
  flex-basis: 25%;

  margin-bottom: 60px;

  & > * {
    margin-bottom: 20px;
  }

  input {
    color: $color-neutral-0;
  }
}

.copyrightBlock {
  padding-top: 32px;
  @include flexbox;
  border-top: 1px solid $color-neutral-30;
}

.footerIconLinks {
  margin-top: 30px;
}

@include forDesktopSm {
  .footerContent {
    padding: 30px;
  }

  .footerLogo,
  .linkBlock {
    align-items: center;
  }
  .linksAndControls {
    flex-direction: column;
    & > * {
      &:not(:last-child) {
        width: 100%;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid $color-neutral-80;
      }
    }
  }
}

.connect {
  .connectText {
    @include poppins;
    &:hover {
      color: $color-action-hovered;
    }
  }
}
