@import '../../styles/helpers.scss';

.label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $color-neutral-80;
  border-radius: 25px;
}

.btn {
  min-width: 115px;
  padding: 15px;
  border-radius: 25px;
  color: $color-neutral-80;
  transition: 0.4s $color-neutral-80;

  &.active {
    background-color: white;
    font-weight: bold;
    color: black;
  }
}
