@import '../../styles/helpers.scss';

.label {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: $color-neutral-80;
  border-radius: 25px;
}

.btn {
  padding: 15px;

  min-width: 115px;

  color: $color-neutral-80;
  border-radius: 25px;

  transition: 0.4s $color-neutral-80;

  &.active {
    font-weight: bold;

    color: black;
    background-color: white;
  }
}
