@import 'src/styles/helpers';

.topCollections {
  @include container;
  margin-top: 88px;
  margin-bottom: 88px;
}

.collections{
  height: auto;
  max-height: 0;
  transition: $transition;
  overflow: hidden;
  margin-top: 20px;

  &.open{
      max-height: 1000px;
  }
}

.title {
  @include flexbox;
  gap: 16px;
  flex-wrap: wrap;
}

.goRankingBtn{
  margin: 20px auto 0;
  padding: 0 32px;
}


.collectionsWrapper {
  display: grid;
  grid-template-columns:repeat(auto-fit, 33.3%);
  // grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  grid-auto-flow: column;
}

.srcToRanking{
  margin: 0 auto;
  padding: 0 32px;
}
