@import '../../../styles/helpers';

.container {
  padding: 50px 30px 30px 30px;
  background: $color-bg;
  @include flexbox(flex-start, center);
  flex-direction: column;
  width: 100%;
  z-index: 9;
}

.connectWrapper {
  margin: 50px 0;
  width: 100%;
}

.logo {
  transform: scale(1.1);
  margin-left: 20px;
}

.mobileMenuLinks {
  flex-direction: column;
  & > * {
    margin: 20px;
  }
}

.container .connectBtn > p {
  font-size: 20px;
}

.bottomText {
  margin-top: 20px;
  width: 100%;
}