@import 'src/styles/helpers';

.container {
  padding: 33px 10px 20px;
  background: $color-bg;
  @include flexbox(flex-start, center);
  flex-direction: column;
  width: 100%;
  z-index: 9;
  border-bottom: 1px solid $color-neutral-10;
}

.connectWrapper {
  margin: 30px 0;
  width: 100%;
}

.logo {
  transform: scale(1);
  margin-left: 40px;
}

.mobileMenuLinks {
  flex-direction: column;
  & > * {
    margin: 20px;
  }
}

.container .connectBtn > p {
  font-size: 20px;
}

.bottomText {
  margin-top: 20px;
  width: 100%;
}

.mobileSearch {
  margin-top: 30px;
  width: 100%;
}

.mobileMenuIconLinks {
  margin: 0 auto;
  margin-top: auto;
  & a{
    transition: $transition;
    &:hover{
      filter: hue-rotate(50deg);
    }
  }
}