@import '../../styles/helpers';

.dropdown {
  position: relative;
  z-index: 3;

  &.active {
    z-index: 10;

    .head {
      color: $blue;
      background: $neutrals8;

      @include dark {
        background: $neutrals1;
      }

      svg {
        transform: translateY(-50%) rotate(180deg);
        fill: $blue;
      }
    }

    .body {
      visibility: visible;

      opacity: 1;

      transform: translateY(0);
    }
  }
}

.head {
  position: relative;

  padding: 0 64px 0 24px;

  height: 64px;

  font-size: 40px;
  font-weight: 700;
  line-height: 64px;

  cursor: pointer;

  background: transparent;
  border-radius: 32px;

  transition: all 0.2s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include dm-sans;

  @include m {
    height: 56px;

    font-size: 32px;
    line-height: 56px;
  }

  svg {
    position: absolute;
    top: 50%;
    right: 27px;

    transition: all 0.2s;
    transform: translateY(-50%);
    fill: $neutrals2;

    @include dark {
      fill: $neutrals8;
    }
  }

  &:hover {
    color: $blue;
    background: $neutrals8;

    svg {
      fill: $blue;
    }

    @include dark {
      background: $neutrals1;
    }
  }
}

.selection {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.body {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  left: 0;

  padding: 24px;

  visibility: hidden;

  background: $neutrals8;
  border-radius: 24px;
  opacity: 0;
  box-shadow: 0 40px 64px -32px rgba(15, 15, 15, 0.15);

  transition: all 0.2s;
  transform: translateY(3px);

  @include dark {
    background: $neutrals1;
    box-shadow: inset 0 0 0 2px $neutrals3, 0 4px 12px rgba($neutrals1, 0.1);
  }
}

.option {
  @include dm-sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;

  cursor: pointer;

  color: $neutrals4;

  transition: color 0.2s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include m {
    font-size: 32px;
  }

  &:hover,
  &.selectioned {
    color: $neutrals2;

    @include dark {
      color: $neutrals8;
    }
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
