@import '../../../styles/helpers';

.title {
  margin-bottom: 64px;
  text-align: center;
  @include m {
    margin-bottom: 32px;
  }
}

.top {
  position: relative;

  margin-bottom: 32px;

  display: flex;
  justify-content: space-between;

  @include m {
    display: block;
  }

  .dropdown {
    width: 180px;

    @include t {
      width: 260px;
    }

    @include m {
      margin-bottom: 12px;

      width: 100%;
    }
  }
}

.nav {
  position: absolute;
  top: 10px;
  left: 50%;

  display: flex;
  justify-content: center;

  transform: translateX(-50%);

  @include t {
    display: none;
  }
}

.link {
  margin: 0 6px;
  padding: 6px 12px;

  color: $purple2;
  background: none;
  border-radius: 14px;

  transition: all 0.2s;
  flex-shrink: 0;

  @include button-2;

  &:hover {
    color: $neutrals3;

    @include dark {
      color: $neutrals6;
    }
  }

  &.active {
    color: $neutrals8;
    background: $gradient;

    // @include dark {
    //   background: $neutrals8;
    //   color: $neutrals2;
    // }
  }

  &:nth-child(n + 5) {
    @include d {
      display: none;
    }
  }
}

.filter {
  position: relative;

  padding: 0 0 0 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  line-height: 48px;

  color: $neutrals8;
  background: $gradient;
  border-radius: 24px;

  transition: background 0.2s, box-shadow 0.2s;
  flex-shrink: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include dm-sans;

  @include m {
    width: 100%;
  }

  &.active {
    .toggle {
      svg {
        &:first-child {
          display: none;
        }

        &:nth-child(2) {
          display: inline-block;
        }
      }
    }
  }
}

.toggle {
  padding-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 52px;

  font-size: 0;

  background: none;

  svg {
    fill: $neutrals8;

    &:first-child {
      width: 18px;
      height: 18px;
    }

    &:nth-child(2) {
      display: none;

      width: 10px;
      height: 10px;
    }
  }
}

.filters {
  padding: 32px 0;

  display: none;

  // @include dark {
  border-color: $neutrals3;
  border-top: 1px solid $neutrals6;
  // }
  &.active {
    display: block;
  }
}

.sorting {
  margin: (-32px) -16px 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include d {
    margin: (-24px) -8px 0;
  }

  @include m {
    margin: 0;

    display: block;
  }
}

.cell {
  margin: 32px 16px 0;

  max-width: calc(25% - 32px);
  flex: 0 0 calc(25% - 32px);

  @include d {
    margin: 24px 8px 0;

    max-width: calc(25% - 16px);
    flex: 0 0 calc(25% - 16px);
  }

  @include t {
    margin: 32px 16px 0;

    max-width: calc(50% - 32px);
    flex: 0 0 calc(50% - 32px);
  }

  @include m {
    margin: 0;

    max-width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.label {
  margin-bottom: 12px;

  @include hairline-2;
  color: $neutrals5;
}

.scale {
  margin-bottom: -3px;

  display: flex;
  justify-content: space-between;

  font-weight: 500;
}

.list {
  @include m {
    margin: 0;
  }
}

.slider {
  margin: (-32px) -16px 0;

  display: flex;
  flex-wrap: wrap;

  @include m {
    margin: 0;

    display: block;
  }
}

.card {
  margin: 32px 16px 0;

  max-width: calc(25% - 32px);
  flex: 0 0 calc(25% - 32px);

  @include d {
    max-width: calc(33.333% - 32px);
    flex: 0 0 calc(33.333% - 32px);
  }

  @include t {
    max-width: calc(50% - 32px);
    flex: 0 0 calc(50% - 32px);
  }

  @include m {
    margin: 0;

    max-width: 100%;
  }
}

.btns {
  margin-top: 32px;

  text-align: center;

  .button {
    box-shadow: 0 0 0 2px $purple2 inset;
  }

  @include m {
    display: none;
  }
}

.switchWrapper {
  display: flex;
  gap: 16px;

  align-items: center;
}

.nobids {
  padding: 20px 0;

  display: flex;
  justify-content: center;
}
