@import 'src/styles/helpers';

.dropdownCurrency {
  position: absolute;
  z-index: 3;
  top: calc(50% - 2px);
  right: 10px;

  &.activeDropdown {
    z-index: 10;

    .bodyCurrency {
      visibility: visible;

      opacity: 1;

      transform: translateY(0);
    }
  }
}

.headCurrency {
  position: relative;

  padding: 2px 15px;

  display: flex;
  align-items: center;

  font-size: 12px;
  font-weight: 500;
  line-height: 24px;

  cursor: pointer;

  color: #fff;
  background: #674df6;
  border-radius: 33px;
}

.selection {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.bodyCurrency {
  position: absolute;
  top: calc(100% + 2px);
  right: 0;
  left: 0;

  padding: 8px;

  display: flex;
  visibility: hidden;
  flex-direction: column;

  width: 256px;
  height: 206px;

  background: $neutrals8;

  // @include dark {
  background: $dark-bg;
  border-radius: 12px;
  opacity: 0;
  box-shadow: inset 0 0 0 2px $neutrals6, 0 4px 12px rgba($neutrals2, 0.1);
  box-shadow: inset 0 0 0 2px $neutrals3, 0 4px 12px rgba($neutrals1, 0.1);

  transition: all 0.2s;
  transform: translateY(3px);
  gap: 10px;
  // }
}

.optionCurrency {
  padding: 8px 16px;

  display: flex;
  align-items: center;

  cursor: pointer;

  color: #f4f5f6;

  transition: color 0.2s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover,
  &.selectioned {
    background: #674df6;
    border-radius: 8px;
  }
}

.textCurrency {
  margin-left: 10px;

  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.image {
  width: 20px;
  height: 20px;
}
